@import "./ps-structure-path.css";
@import "./ps-grid.css";
@import "./ps-theme-variables - Path.css";
@import "./ps-responsive.css";

/*
    Components UI
*/

@import "./theme/components/app.component/app.component.css";
@import "./theme/components/documents.component/documents.component.css";
@import "./theme/components/ps-documents-list.component/ps-document-list.component.css";
@import "./theme/components/ps-input-account-number.component/ps-input-account-number.component.css";
@import "./theme/components/ps-action-button.component/ps-action-button.component.css";
@import "./theme/components/ps-container-item.component/ps-container-item.component.css";
@import "./theme/components/ps-entity-phone-number.component/ps-entity-phone-number.component.css";
@import "./theme/components/ps-container-panel.component/ps-container-panel.component.css";
@import "./theme/components/ps-base.component/ps-base.component.css";
@import "./theme/components/ps-container-footer.component/ps-container-footer.component.css";
@import "./theme/components/ps-complex-menu-reach.component/ps-complex-menu-reach.component.css";
@import "./theme/components/ps-complex-info.component/ps-complex-info.component.css";
@import "./theme/components/ps-complex-menu.component/ps-complex-menu.component.css";
@import "./theme/components/ps-container-report-viewer.component/ps-container-report-viewer.component.css";
@import "./theme/components/ps-button-logout.component/ps-button-logout.component.css";
@import "./theme/components/ps-container-swiper.component/ps-container-swiper.component.css";
@import "./theme/components/ps-container-html-viewer.component/ps-container-html-viewer.component.css";
@import "./theme/components/ps-complex-terms-and-conditions.component/ps-complex-terms-and-conditions.component.css";
@import "./theme/components/ps-file-upload.component/ps-file-upload.component.css";
@import "./theme/components/ps-keyin-date.component/ps-keyin-date.component.css";
@import "./theme/components/ps-authentication-matrix.component/ps-authentication-matrix.component.css";
@import "./theme/components/ps-select-dropdown-base.component/ps-select-dropdown-base.component.css";
@import "./theme/components/ps-complex-menu-header-container.component/ps-complex-menu-header-container.component.css";
@import "./theme/components/ps-complex-profile.component/ps-complex-profile.component.css";
@import "./theme/components/ps-container-flip.component/ps-container-flip.component.css";
@import "./theme/components/ps-container-form.component/ps-container-form.component.css";
@import "./theme/components/ps-complex-find-cif.component/ps-complex-find-cif.component.css";
@import "./theme/components/ps-label.component/ps-label.component.css";
@import "./theme/components/ps-select-segment.component/ps-select-segment.component.css";
@import "./theme/components/ps-hyperlink-anchor.component/ps-hyperlink-anchor.component.css";
@import "./theme/components/ps-button-notification.component/ps-button-notification.component.css";
@import "./theme/components/ps-complex-notification.component/ps-complex-notification.component.css";
@import "./theme/components/ps-complex-prayer-time.component/ps-complex-prayer-time.component.css";
@import "./theme/components/ps-drafts-report.component/ps-drafts-report.component.css";
@import "./theme/components/ps-container-stepper.component/ps-container-stepper.component.css";
@import "./theme/components/ps-lov-trans-popover.component/ps-lov-trans-popover.component.css";
@import "./theme/components/ps-date-time-only.component/ps-date-time-only.component.css";
@import "./theme/components/ps-complex-time-range.component/ps-complex-time-range.component.css";
@import "./theme/components/ps-complex-tooltip.component/ps-complex-tooltip.component.css";
@import "./theme/components/ps-complex-widget-dropdowns.component/ps-complex-widget-dropdowns.component.css";
@import "./theme/components/ps-action-virtual-keyboard.component/ps-action-virtual-keyboard.component.css";

/* @import "./theme/components/ps-base-container-body.component/ps-base-container-body.component.css"; */

@import "./theme/components/ps-complex-exchange.component/ps-complex-exchange.component.css";
@import "./theme/components/ps-select-toggle.component/ps-select-toggle.component.css";
@import "./theme/components/ps-input-display-only.component/ps-input-display-only-value.component.css";
@import "./theme/components/ps-complex-amount.component/ps-complex-amount.component.css";
@import "./theme/components/ps-select-checkbox.component/ps-select-checkbox.component.css";
@import "./theme/components/ps-dropdown-allowed-languages.component/ps-dropdown-allowed-languages.component.css";
@import "./theme/components/ps-label-welcome.component/ps-label-welcome.component.css";
@import "./theme/components/ps-button-save.component/ps-button-save.component.css";
@import "./theme/components/ps-base-field.component/ps-base-field.component.css";
@import "./theme/components/ps-action-menu-item.component/ps-action-menu-item.component.css";
@import "./theme/components/ps-container-lookup-option.component/ps-container-lookup-option.component.css";
@import "./theme/components/ps-action-icon.component/ps-action-icon.component.css";
@import "./theme/components/ps-balance.component/ps-balance.component.css";
@import "./theme/components/ps-complex-lookup.component/ps-complex-lookup.component.css";
@import "./theme/components/ps-input-search-html.component/ps-input-search-html.component.css";
@import "./theme/components/ps-button-print.component/ps-button-print.component.css";
@import "./theme/components/ps-keyin-input.component/ps-keyin-input.component.css";
@import "./theme/components/ps-input-card-number.component/ps-input-card-number.component.css";
@import "./theme/components/ps-input-count.component/ps-input-count.component.css";
@import "./theme/components/ps-inline-labeled-camera.component/ps-inline-labeled-camera.component.css";
@import "./theme/components/ps-button-fab-list.component/ps-button-fab-list.component.css";
@import "./theme/components/ps-gallery-banners.component/ps-gallery-banners.component.css";
@import "./theme/components/ps-map-atm-branches.component/ps-map-atm-branches.component.css";
@import "./theme/components/ps-form-map.component/ps-form-map.component.css";
@import "./theme/components/ps-form-step.component/ps-form-step.component.css";
@import "./theme/components/ps-complex-landmark-compass.component/ps-complex-landmark-compass.component.css";
@import "./theme/components/ps-complex-recurring-scheduler.component/ps-complex-recurring-scheduler.component.css";
@import "./theme/components/ps-complex-card-details-branch.component/ps-complex-card-details-branch.component.css";
@import "./theme/components/ps-keyin-textarea.component/ps-keyin-textarea.component.css";
@import "./theme/components/ps-action-image.component/ps-action-image.component.css";
@import "./theme/components/ps-complex-cif-id-types.component/ps-complex-cif-id-types.component.css";
@import "./theme/components/ps-accounts-list.component/ps-accounts-list.component.css";
@import "./theme/components/ps-select-dropdown.component/ps-select-dropdown.component.css";
@import "./theme/components/ps-select-dropdown-overlay.component/ps-select-dropdown-overlay.component.css";
@import "./theme/components/ps-complex-po-box.component/ps-complex-po-box.component.css";
@import "./theme/components/ps-dynamic-edit.component/ps-dynamic-edit.component.css";
@import "./theme/components/ps-image-avatar.component/ps-image-avatar.component.css";
@import "./theme/components/ps-complex-report-filter-criteria.component/ps-complex-report-filter-criteria.component.css";
@import "./theme/components/ps-container-inline-loader.component/ps-container-inline-loader.component.css";
@import "./theme/components/ps-jbpm-task-list.component/ps-jbpm-task-list.component.css";
@import "./theme/components/ps-jbpm-task-details.component/ps-jbpm-task-details.component.css";
@import "./theme/components/ps-complex-chat-history.component/ps-complex-chat-history.component.css";
@import "./theme/components/ps-complex-deal-details.component/ps-complex-deal-details.component.css";
@import "./theme/components/ps-ag-grid.component/ps-ag-grid.component.css";
@import "./theme/components/ps-container-dynamic-screen.component/ps-container-dynamic-screen.component.css";
@import "./theme/components/ps-field-qr-generator.component/ps-field-qr-generator.component.css";
@import "./theme/components/ps-container-slider/ps-container-slider.component.css";
@import "./theme/components/ps-complex-media-capture.component/ps-complex-media-capture.component.css";
@import "./theme/components/ps-action-charts.component/ps-action-charts.component.css";
@import "./theme/components/ps-select-dropdown-widget.component/ps-select-dropdown-widget.component.css";
@import "./theme/components/ps-complex-segment.component/ps-complex-segment.component.css";
@import "./theme/components/ps-field-signature-pad.component.css";
@import "./theme/components/ps-complex-facility-request.component/ps-complex-facility-request.component.css";
@import "./theme/components/ps-benef-list.css";
@import "./theme/components/ps-complex-reward-details.component/ps-complex-reward-details.component.css";
@import "./theme/components/ps-button-fab.component/ps-button-fab.component.css";
@import "./theme/components/ps-round-progress.css";
@import "./theme/components/ps-complex-calendar.component.css";
@import "./theme/components/ps-regula-doc-reader.component/ps-regula-doc-reader.component.css";
@import "./theme/components/ps-captcha.component/ps-captcha.component.css";
@import "./theme/components/ps-news-slider.component/ps-news-slider.component.css";
@import "./theme/components/ps-complex-instant-pay-address.component/ps-complex-instant-pay-address.component.css";
@import "./theme/components/ps-container-widget-card.component/ps-container-widget-card.component.css";
@import "./theme/components/ps-sweeping-and-pooling-list.component/ps-sweeping-and-pooling-list.component.css";
/*
    Templates UI
*/

@import "./theme/templates/ps-template-base.page.css";
@import "./theme/templates/ps-template-landing.page.css";
@import "./theme/templates/ps-template-report.page.css";
@import "./theme/templates/ps-complex-preview.template.css";
@import "./theme/templates/ps-template-login.css";
@import "./theme/templates/ps-template-landing-web.template.css";
@import "./theme/templates/ps-template-screen.template.css";
@import "./theme/templates/ps-template-alert-controller.template.css";
@import "./theme/templates/ps-template-popup-message.template.css";
@import "./theme/templates/ps-template-stepper.template.css";
@import "./theme/templates/ps-template-landing-main.template.css";
@import "./theme/templates/ps-template-view.template.css";
@import "./theme/templates/ps-template-landing-menu-web.template.css";
@import "./theme/templates/ps-template-landing-hamburger.template.css";
@import "./theme/templates/ps-template-bpm-flow.template.css";

/*
    Pages UI
*/

@import "./theme/pages/account-statement-report.page.css";
@import "./theme/pages/atm-and-branch-locator.page.css";
@import "./theme/pages/qibla-direction.page.css";
@import "./theme/pages/omni-login.page.css";
@import "./theme/pages/home.page.css";
@import "./theme/pages/ps-template-landing-screen.page.css";
@import "./theme/pages/accounts-list.page.css";
@import "./theme/pages/products-and-services.page.css";
@import "./theme/pages/account-opening-fixed-maturity-account.page.css";
@import "./theme/pages/profile.page.css";
@import "./theme/pages/account-deactivation.page.css";
@import "./theme/pages/ps-template-landing-fab-ui.page.css";
@import "./theme/pages/on-boarding.page.css";
@import "./theme/pages/online-registration.page.css";
@import "./theme/pages/scheduled-transfer-list.page.css";
@import "./theme/pages/ussd-deactivation.page.css";
@import "./theme/pages/payment.page.css";
@import "./theme/pages/personalize-my-quick-links.page.css";
@import "./theme/pages/bill-payment.page.css";
@import "./theme/pages/forgot-credentials.page.css";
@import "./theme/pages/about-app.page.css";
@import "./theme/pages/dashboard.page.css";
@import "./theme/pages/rewards-catalogue.page.css";
@import "./theme/pages/loyalty-points-history.css";
@import "./theme/pages/sub-menu.page.css";
@import "./theme/pages/multi-outlet.page.css";
@import "./theme/pages/onboarding.css";
@import "./theme/pages/ps-template-approve-reject-data.page.css";
@import "./theme/pages/letter-of-credit-request.page.css";