/*
  Do not remove
*/



.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*end material font family*/

.container-fluid,
.row {
  height: 100% !important;
}

.home-content ps-template-landing-hamburger {
  display: none;
}

/*
  END Do not remove
*/


.isMobile-Layout body {
  background: url('/assets/branding/default_theme/imgs/Background-image.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.isWeb-Layout body,
.isWeb-Layout ion-router-outlet .ion-page {
  background: linear-gradient(43deg, hsla(0, 0%, 41.2%, .02), hsla(0, 0%, 41.2%, .02) 62%, hsla(0, 0%, 89%, .02) 0, hsla(0, 0%, 89%, .02) 69%, rgba(24, 24, 24, .02) 0, rgba(24, 24, 24, .02) 80%, rgba(13, 13, 13, .02) 0, rgba(13, 13, 13, .02) 82%, rgba(13, 13, 13, .02) 0, rgba(13, 13, 13, .02)), linear-gradient(31deg, hsla(0, 0%, 60.8%, .02), hsla(0, 0%, 60.8%, .02) 29%, hsla(0, 0%, 64.3%, .02) 0, hsla(0, 0%, 64.3%, .02) 41%, hsla(0, 0%, 78.4%, .02) 0, hsla(0, 0%, 78.4%, .02) 74%, hsla(0, 0%, 89.8%, .02) 0, hsla(0, 0%, 89.8%, .02) 79%, rgba(15, 15, 15, .02) 0, rgba(15, 15, 15, .02)), linear-gradient(319deg, rgba(39, 39, 39, .02), rgba(39, 39, 39, .02) 17%, rgba(49, 49, 49, .02) 0, rgba(49, 49, 49, .02) 25%, rgba(59, 59, 59, .02) 0, rgba(59, 59, 59, .02) 32%, hsla(0, 0%, 76.1%, .02) 0, hsla(0, 0%, 76.1%, .02) 46%, hsla(0, 0%, 86.3%, .02) 0, hsla(0, 0%, 86.3%, .02)), linear-gradient(113deg, hsla(0, 0%, 73.7%, .02), hsla(0, 0%, 73.7%, .02) 15%, hsla(0, 0%, 87.5%, .02) 0, hsla(0, 0%, 87.5%, .02) 46%, rgba(21, 21, 21, .02) 0, rgba(21, 21, 21, .02) 88%, rgba(93, 93, 93, .02) 0, rgba(93, 93, 93, .02) 94%, hsla(0, 0%, 51%, .02) 0, hsla(0, 0%, 51%, .02)), linear-gradient(29deg, hsla(0, 0%, 52.5%, .02), hsla(0, 0%, 52.5%, .02) 27%, hsla(0, 0%, 71%, .02) 0, hsla(0, 0%, 71%, .02) 41%, rgba(81, 81, 81, .02) 0, rgba(81, 81, 81, .02) 46%, hsla(0, 0%, 99.2%, .02) 0, hsla(0, 0%, 99.2%, .02) 58%, rgba(74, 74, 74, .02) 0, rgba(74, 74, 74, .02)), linear-gradient(90deg, #e5e5e5, #e4e4e4);
}

ion-content {
  --overflow: hidden !important;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat" !important;
}

body * {
  font-family: "Montserrat" !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.ag-icon {
  font-family: "agGridAlpine" !important;
  font-size: 16px !important;
  line-height: 16px !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}


ps-base-container-body {
  width: 100%;
}


.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.col,
[dir=ltr] .col,
[dir=rtl] .col {
  margin-bottom: 0px !important;
}

ion-slides ion-slide ion-content {
  height: var(--ps-100vh) !important;
  width: 100vw !important;
}


.ion-page>ion-content>.container-fluid>.row {
  height: var(--ps-100vh);
}

ps-template-base .main-form,
ps-template-base ion-content {
  height: 100%;
  overflow: auto;
}


ps-container-footer ion-footer {
  display: block;
  position: relative;
}

.ps-custom-spinner {
  width: var(--ps-loader-size) !important;
}

[dir="ltr"].userIsLoggedIn .ps-custom-spinner {
  margin-left: calc(var(--ps-margin-left) / 2);
}

[dir="rtl"].userIsLoggedIn .ps-custom-spinner {
  margin-left: calc(calc(var(--ps-margin-left) / 2) * -1);
}

.loading-wrapper {
  padding: 0px !important;
  background: transparent !important;
  box-shadow: none !important;
}

.loading-spinner {
  display: none;
}


.isWeb-Layout.userIsNotLoggedIn ion-app {
  width: var(--ps-100vh);
  margin: auto !important;
}

main,
.inner-scroll {
  background: transparent !important;
  --background: transparent !important;
}

ion-content {
  --background: transparent !important;
  background: transparent !important;
}


.hide-element {
  display: none;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ps-version {
  display: none;
}

::-webkit-scrollbar {
  width: var(--ps-scroll-bar-width) !important;
  border-radius: var(--ps-scroll-bar-border-radius) !important;
  height: var(--ps-scroll-bar-width) !important;
}


::-webkit-scrollbar-track {
  box-shadow: var(--ps-scroll-bar-track-box-shadow);
  border-radius: var(--ps-scroll-bar-border-radius);
  background: var(--ps-scroll-bar-track-color);
}


::-webkit-scrollbar-thumb {
  background: var(--ps-scroll-bar-thumb-color);
  border-radius: var(--ps-scroll-bar-border-radius);
}

ion-router-outlet .ion-page {
  background: var(--ps-app-background-color);
}

.ps-pointer {
  cursor: pointer !important;
}

.isWeb-Layout ion-router-outlet .ion-page {
  background: rgb(189 188 188) !important;
}


.isWeb-Layout body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: var(--ps-web-background-color);
}

.isWeb-Layout .main-section-page {
  border-radius: var(--ps-section-border-radius) !important;
}

/* hide links for mobile */
.isMobile-Layout omni-login .ps-template-login-links {
  display: none;
}

/* hide fab for web */
.isWeb-Layout omni-login .omni-login-fab-list {
  display: none;
}

/* hide fab for web */
.isPad-Layout omni-login .omni-login-fab-list {
  display: none;
}

html ps-template-lading-web {
  opacity: 1;
}

html.open-loader ps-template-landing-web {
  opacity: 0.5;
}

.isWeb-Layout.userIsLoggedIn .sc-ion-modal-md-h {
  justify-content: inherit !important;
}

.pass-note ion-label {
  white-space: break-spaces !important;
}

.ps-base-row>*,
ps-container-complex>*,
.ps-base-container-body-row>* {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}


.ps-separator {
  margin: 0px 5px;
}

.isMobile-Layout .ps-custom-captcha {
  left: 0px !important;
}


ion-label {
  display: flex !important;
  text-transform: capitalize !important;
}

ion-toast {
  margin-inline-start: 8% !important;
  width: 84% !important;
  text-align: center;
}

.tooltip-container {
  z-index: 100000;
}

.ps-custom-component-preview {
  display: none !important
}

ps-template-list ps-label.no-matching-found{
  display: none  !important;
}
ps-template-list .hide-search-element{
  display: none;
}
ps-template-list .highlight{
  background-color: yellow !important;
}

ps-template-list .ps-container-lookup-option-list-empty ps-label.no-matching-found{
    display: block  !important;
    text-align: center;
    color: var(--ps-error-color);
}
  