:root {
    --ps-dropdown-image-width: 28px;
    --ps-dropdown-image-height: 14px;
    --ps-dropdown-image-border-radius: 0px;
}

ps-select-dropdown-base .ps-dropwdown-wrapper>* {
    pointer-events: none !important;
}

ps-select-dropdown-base .mat-form-field-infix {
    display: flex !important;

}

.mat-select-arrow {
    color: inherit !important;
    border-left: 7px solid #0000 !important;
    border-right: 7px solid #0000 !important;
    border-top: 7px solid !important;
    color: var(--ps-input-value-font-color) !important;
}

ps-select-dropdown-base img,
.select-drop-down-img {
    border-radius: var(--ps-dropdown-image-border-radius) !important;
    --border-radius: var(--ps-dropdown-image-border-radius) !important;
    width: var(--ps-dropdown-image-width) !important;
    height: var(--ps-dropdown-image-height) !important;
}


ps-select-dropdown-base .mat-select-value-text,
.mat-option-text,
.mat-option {
    color: var(--ps-input-value-font-color);
}

ps-select-dropdown-base .mat-select-arrow-wrapper {
    color: var(--ps-input-value-font-color);
}

.mat-form-field-type-mat-select .mat-form-field-label {
    color: var(--ps-input-placeholder-font-color) !important;
}

ps-select-dropdown-base .mat-option,
ps-select-dropdown-base .mat-primary {
    width: 100%;
}

.mat-option {
    height: auto !important;
    border-bottom: 1px solid;
}

.mat-option .mat-option-text {
    white-space: normal;
    display: flex;
}

ps-select-dropdown-base .mat-select-panel {
    background: grey;
}

ps-select-dropdown-base .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--ps-font-light-color);
}

ps-select-dropdown-base .mat-select-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ps-select-dropdown-base .mat-primary .mat-option.mat-selected {
    color: var(--ps-highlight-background-color) !important;
}

ps-select-dropdown-base .dropdown-selected-image {
    padding-inline-end: 5px !important;
    background-repeat: no-repeat;
}

ps-select-dropdown-base .select-container-wrapper {
    height: 50% !important;
    padding: 0px !important;
}

ps-select-dropdown-base .select-row-wrapper {
    width: 100%;
    margin: 0px;
}

ps-select-dropdown-base .main-dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 30px; */
}

.select-drop-down-description {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.select-drop-down-img-wrapper {
    -webkit-box-flex: 0;
    flex: 0 0 35%;
    max-width: 50%;
}

.select-drop-down-description.image-is-present {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 100%;
}

.mat-select-panel-wrap {
    scrollbar-color: var(--ps-scrollbar-color-firefox);
}

.mat-select-panel-wrap div {
    scrollbar-width: var(--ps-scroll-bar-width-firefox);
}
.loadingSelect{
    position: absolute;
    right: 0;
    bottom: -5px;
    top: 0;
    margin: auto;
    height: 25px !important;
}

ps-select-dropdown-base .ps-base-container-body-row> ps-label-input {
  flex: 0 0 95%;
}
ps-select-dropdown-base .ps-base-container-body-row> .select-container-wrapper {
  flex: 0 0 95%;
  margin-left: 0px !important;
}