app-account-deactivation ps-label.text-waring-account-dactivation ion-label {
    white-space: normal !important;
    color: var(--ps-font-light-color);
}

app-account-deactivation .account-deactivation-warning {
    position: absolute;
    bottom: 0;
}