forgot-credentials ps-select-checkbox.forget-username-checkbox ps-container-item ion-label,
forgot-credentials ps-select-checkbox.forget-username-checkbox .ps-select-checkbox-label,
forgot-credentials ps-select-checkbox.forget-username-checkbox ps-container-item ion-item.item-has-focus ion-label,
forgot-credentials ps-select-checkbox.forget-username-checkbox ps-container-item ion-item.ion-touched.ion-dirty ion-label {
    font-size: var(--ps-lg-font) !important;
}


forgot-credentials ps-select-checkbox.forget-username-checkbox ps-container-item ion-checkbox {
    max-width: 35px !important;
    max-height: 50px !important;
}

forgot-credentials .forget-username-checkbox .ps-base-container-body-row {
    width: 80%;
    margin: auto !important;
    align-items: center;
    justify-content: center;
}

forgot-credentials .ps-or-label {
    margin-top: calc(calc(2/100) * var(--ps-100vh));
}

forgot-credentials .forget-username-checkbox {
    margin-top: calc(calc(3/100) * var(--ps-100vh));
}

forgot-credentials ps-select-checkbox.forget-username-checkbox .ps-container-item-main-content {
    justify-content: center;
    flex: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
}

forgot-credentials ps-select-checkbox.forget-username-checkbox .ps-container-item-main-content .ps-base-container-body-row {
    width: 50%;
    margin: auto !important;
}

.pass-note {
    margin-bottom: var(--ps-fields-margin);
}

.main-password ps-container-item .ps-container-item-wrapper {
    margin-bottom: 0px !important;
}