.isWeb-Layout:root {
    --ps-form-container-padding-ratio-initial: 1;
    --ps-zoom-ratio: 1;
    --ps-font-size-ratio-initial: 1;
}

.isMobile-Layout body,
.isMobile-Layout ion-router-outlet .ion-page {
    background-image: url('/assets/branding/amana_theme/imgs/Background-image.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.isPad-Layout body,
.isPad-Layout ion-router-outlet .ion-page {
    background-image: url('/assets/branding/amana_theme/imgs/Background-image-tab.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.isWeb-Layout body {
    background-image: url(/assets/branding/amana_theme/imgs/prelogin-background.svg) !important;
    background-size: cover !important;
}

.isWeb-Layout ion-router-outlet .ion-page {
    background-image: url('/assets/branding/amana_theme/imgs/Background-image-tab.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.isWeb-Layout.userIsNotLoggedIn ion-router-outlet omni-login.ion-page {
    background: none !important;
}



ps-authentication-matrix .request-otp ion-button ion-label,
ps-authentication-matrix .request-otp ion-button ion-icon {
    color: white !important;
}

ps-button-next {
    order: 9;
}

#live-chat-id,
.hard-copy-statement-request,
.e-statement-request,
.change-maturity-instructions,
.break-term-deposit-account,
.pending-transfer-actions,
.pay-benef,
#jbpmPaneOptions,
.profile-section .dynamic-edit-action,
.menu-action-button-wrapper,
.qr-code-account-list,
.omni-login-links,
.ps-dropdown-allowed-languages-wrapper,
.ps-dropdown-theme-wrapper,
.request-otp ion-icon,
app-beneficiary-list .ps-lookup-status,
.tooltipicon,
.pending-transfers-action,
.isWeb-Layout app-accounts-list ps-accounts-list .show-more-less-button-card,
.label-remaning-limit,
.container-option-table-row-past_dues_key {
    display: none !important;
}

.omni-login-fab-list {
    display: block !important;
}

/* ps-complex-info .ps-info-animation.terms-and-condition, */
ps-complex-info .ps-info-animation.security-statement,
ps-complex-info .ps-info-animation.faq-link {
    display: none;
}

ps-entity-phone-number .country-selected .ps-keyin-input-wrapper ion-input {
    --placeholder-color: transparent !important;

}


ps-authentication-matrix .request-otp ion-button.was-clicked {
    --background: #2e074e;
}

ps-input-count .count-span ps-action-icon {
    display: flex;
    background: var(--ps-highlight-background-color);
    padding: 3px;
    border-radius: 5px;
    margin: 1px 0px;
}

.isWeb-Layout ps-entity-phone-number ps-dropdown-country-code .mat-select-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px !important;
    flex: 0 0 35%;
    min-width: 35%;
    text-align: center;
}

.isWeb-Layout ps-entity-phone-number ps-dropdown-country-code ps-select-dropdown-base .mat-select-arrow-wrapper {
    flex-grow: 1;
}


.isWeb-Layout ps-entity-phone-number ps-dropdown-country-code .mat-select-trigger {
    display: flex;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}



.isWeb-Layout ps-entity-phone-number ps-keyin-input ps-container-item.ps-field-item-wrapper ps-base-container-body .ps-container-item-img-icon {
    display: none;
}

.isWeb-Layout ps-entity-phone-number .ps-dropdown-country-code-wrapper {
    -webkit-box-flex: 0;
    flex: 0 0 35.666667%;
    max-width: 30.666667%;
}

ps-input-display-only .ps-keyin-input-label {
    display: block !important;
}


.tooltip-container:hover .tooltiptext {
    visibility: hidden !important;
}


/* Shadab - 08/09/2021 */
ps-complex-recurring-scheduler .fc-scheduler:hover,
ps-complex-recurring-scheduler .fc-scheduler:hover * {
    text-decoration: none;
}

.fc-daygrid-day.fc-day:hover {
    background: rgba(109, 62, 147, .3);
}

ps-complex-recurring-scheduler full-calendar.fc .fc-daygrid-day-number {
    padding: 4px 15px;
}

/* ps-lookup-own-accounts#\'transferFrom\'\+\ id {
    order: 1;
}

ps-complex-segment#transferSegment {
    order: 0;
}

ps-complex-exchange#exchange {
    order: 2;
}

ps-input-varchar#\'purpose\'\ \+\ id {
    order: 3;
}

ps-purpose#purpose {
    order: 4;
} */

.transfer-select-segment {
    margin: 0 0 var(--ps-fields-margin) 0;
}

.ps-container-item-service-img-icon ion-icon {
    opacity: 0.4;
}

.is-widget-view .menu-breaker {
    height: 0px;
}

account-opening-fixed-maturity-account ps-select-toggle ps-label-input {
    width: 50%;
}

contact-bank ion-textarea,
contact-bank ion-textarea * {
    height: 200px !important;
    max-height: 200px !important;
}

.live-chat {
    display: none !important;
}


/* 26 Nov - Shadab */

omni-login #online_registration_link {
    margin-top: -25px !important;
}

ps-authentication-matrix .mat-vertical-stepper-content ion-button {
    margin-bottom: 20px !important;
}

.isWeb-Layout.userIsLoggedIn ps-authentication-matrix {
    justify-content: center !important;
}

.isMobile-Layout .mat-vertical-content-container {
    margin-left: 0 !important;
}

.isMobile-Layout .mat-vertical-content {
    padding: 0 0 25px !important;
}

.isWeb-Layout ps-complex-menu.is-tree-view .ps-complex-menu-item.ps-leaf-menu {
    background-color: hsla(0, 0%, 87.8%, .1) !important;
    margin: 0 !important;
    padding-left: calc(var(--ps-form-container-padding-ratio-initial) * 30px) !important;
}

.isWeb-Layout ps-complex-menu.is-tree-view .ps-complex-menu-item:nth-child(1),
.isWeb-Layout ps-complex-menu.is-tree-view .ps-complex-menu-item:nth-child(2) {
    margin: 0 !important;
    background: none !important;
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 10px) calc(var(--ps-form-container-padding-ratio-initial) * 5px) !important;
}

.isWeb-Layout ps-complex-menu.is-tree-view .ps-complex-menu-item.ps-leaf-menu:hover {
    background-color: #6d3e93 !important;
}

add-fav-payee .widget-header-icon {
    display: none;
}

.popup-modal-img {
    display: none;
}

.success-alert .popup-modal-title-label ion-label {
    color: white !important;
}

#ps-auth-matrix-process-alert .mat-step-header {
    display: none !important;
}

online-registration .online_reg_hints ion-label {
    text-transform: inherit !important;
}

ps-internal-beneficiary .container-option-table-row {
    border-inline-end: none !important;
}


/* 17 Dec 21 */
/* .isMobile-Layout ps-container-lookup-option .lookup-item-value .item-value-child{
    white-space: initial !important;
} */
.isMobile-Layout .benef-list .container-option-table-row-benef_name_key .item-value-child,
.isMobile-Layout .benef-list .container-option-table-row-bank_key .item-value-child {
    white-space: initial !important;
}


.isMobile-Layout ps-container-lookup-option .show-more-less-button-card {
    margin-top: 15px !important;
}

/* .isMobile-Layout .container-option-table-row + .container-option-table-row{
    margin-inline-start:2% !important;
} */
.isMobile-Layout .benef-list .container-option-table-row+.container-option-table-row {
    margin-inline-start: 0% !important;
}

.container-option-table-row~.container-option-table-row,
.benef-list .container-option-table-row {
    border-inline-end: none !important;
}

.container-option-table-col.item-value+.container-option-table-col.item-value {
    border-inline-start: 1px solid white !important;
}

.right-floating-section .floating-content-panels #temp_web_ex_rate_panel,
.right-floating-section .floating-content-panels #temp_web_prayer_panel {
    display: none;
}

.no-payee-text {
    color: var(--ps-font-light-color);
}

.no-payee-text .ps-label {
    text-transform: none !important;
}

bill-payment .no-account-found-message {
    color: var(--ps-font-light-color) !important;
    margin-top: -15px;
    margin-bottom: 15px;
}

#report_33 .ps-template-report-search,
#report_1507 .ps-template-report-search,
#report_109 .ps-template-report-search,
#report_92 .ps-template-report-search,
#report_94 .ps-template-report-search,
#report_1673 .ps-template-report-search,
#report_1604 .ps-template-report-search {
    display: none !important;
}

ps-button-send-email {
    display: none !important;
}

payee-manage .ps-container-lookup-option-details .lookup-details-header .lookup-details-subtitle {
    display: none;
}

.isMobile-app .ps-select-dropdown-widget .additional-dropdown-information {
    flex: 0 0 47%;
    max-width: 47%;
    margin: 5px 5px 3%;
}

.action-sheet-wrapper .action-sheet-group .action-sheet-button:nth-of-type(2) {
    display: none;
}


omni-login #online_registration_link {
 margin-top: -10px !important;
}





.ps-complex-menu-item[operid="1551"],
.menu-items[oper_P_Id="1551"],
.ps-complex-menu-item[operid="1569"],
.menu-items[oper_P_Id="1569"],
.ps-complex-menu-item[operid="28"],
.menu-items[oper_P_Id="28"],
.ps-complex-menu-item[operid="33"],
.menu-items[oper_P_Id="33"],
.ps-complex-menu-item[operid="1507"],
.menu-items[oper_P_Id="1507"],
.ps-complex-menu-item[operid="109"],
.menu-items[oper_P_Id="109"],
.ps-complex-menu-item[operid="1489"],
.menu-items[oper_P_Id="1489"],
.ps-complex-menu-item[operid="1566"],
.menu-items[oper_P_Id="1566"],
.ps-complex-menu-item[operid="1632"],
.menu-items[oper_P_Id="1632"],
.ps-complex-menu-item[operid="1649"],
.menu-items[oper_P_Id="1649"],
.ps-complex-menu-item[operid="92"],
.menu-items[oper_P_Id="92"],
.ps-complex-menu-item[operid="94"],
.menu-items[oper_P_Id="94"],
.ps-complex-menu-item[operid="1566"]+.menu-breaker,
.menu-items[oper_P_Id="1566"]+.menu-breaker,
.ps-complex-menu-item[operid="94"]+.menu-breaker,
.menu-items[oper_P_Id="94"]+.menu-breaker {
    order: 1;
}

.ps-complex-menu-item[operid="1649"],
.menu-items[oper_P_Id="1649"] {
    order: 2;
}

.ps-complex-menu-item[operid="1140"],
.menu-items[oper_P_Id="1140"],
.ps-complex-menu-item[operid="634"],
.menu-items[oper_P_Id="634"],
.ps-complex-menu-item[operid="23"],
.menu-items[oper_P_Id="23"],
.ps-complex-menu-item[operid="27"],
.menu-items[oper_P_Id="27"],
.ps-complex-menu-item[operid="1563"],
.menu-items[oper_P_Id="1563"],
.ps-complex-menu-item[operid="810"],
.menu-items[oper_P_Id="810"],
.ps-complex-menu-item[operid="1140"],
.menu-items[oper_P_Id="1140"],
.ps-complex-menu-item[operid="634"]+.menu-breaker,
.menu-items[oper_P_Id="634"]+.menu-breaker,
.ps-complex-menu-item[operid="810"]+.menu-breaker,
.menu-items[oper_P_Id="810"]+.menu-breaker{
    order: 3;
}