ps-select-checkbox ion-checkbox {
    --background-checked: var(--ps-button-submit-background-color) !important;
    --checkmark-color: transparent !important;
    --border-radius: 50% !important;
    --border-color: #757575 !important;
    --border-color-checked: #757575 !important;
    --border-width: 5px !important;
    --background: #757575 !important;
}

ps-select-checkbox ion-item {
    --background-activated: none !important;
}

ps-select-checkbox ps-container-item ion-label,
ps-select-checkbox .ps-select-checkbox-label,
ps-select-checkbox ps-container-item ion-item.item-has-focus ion-label,
ps-select-checkbox ps-container-item ion-item.ion-touched.ion-dirty ion-label {
    color: white !important;
}