/* added (Clark) */
ps-complex-menu-reach ps-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

ps-complex-menu-reach ion-button.ps-menu-reach-background ion-icon {
    font-size: calc(var(--ps-menu-icon-font-size) + 3px) !important;
    transition: 0.5s ease;
}

@media only screen and (max-width: 1000px) {
    ps-complex-menu-reach ion-button.ps-menu-reach-background ion-icon {
        font-size: calc(var(--ps-menu-icon-font-size)) !important;
        transition: 0.5s ease;
    }
}

@media only screen and (max-width: 700px) {
    ps-complex-menu-reach ion-button.ps-menu-reach-background ion-icon {
        font-size: calc(var(--ps-menu-icon-font-size) + 3px) !important;
        transition: 0.5s ease;
    }
}