ps-action-icon ion-icon {
    cursor: pointer;
}

.ps-action-icon-icon {
    order: -1;
    padding: 0;
    vertical-align: middle;
    margin-inline-end: 10px;
}

ps-action-icon .ps-action-icon-label ps-label {
    height: 100% !important;
    display: flex;
    align-items: center;
    width: 100%;
}

.green-tick {
    color: var(--ps-success-color);
}

.red-cross {
    color: var(--ps-error-color);
}

/* 
    gilbertandary   
    #DN:1096723 - menu icon
    Do not remove the below
*/
ps-action-icon ion-icon.card {
    background: transparent !important;
}

ps-action-icon .ps-action-image-image,
ps-action-icon ion-img {
    height: 100%;
}

.ps-multi-outlet-action-icons {
  display: flex;
}

.ps-multi-outlet-action-icons .ps-button-add {
  color: var(--ion-text-color, #555);
  font-size: xx-large;
}

.ps-multi-outlet-action-icons .ps-button-remove {
  color: var(--ion-text-color, #555);
  font-size: xx-large;
}
