round-progress.shade-0-20 {
    stroke: var(--round-progress-0-20);
}

round-progress.shade-20-40 {
    stroke: var(--round-progress-20-40);
}

round-progress.shade-40-60 {
    stroke: var(--round-progress-40-60);
}

round-progress.shade-60-80 {
    stroke: var(--round-progress-60-80);
}

round-progress.shade-80-100 {
    stroke: var(--round-progress-80-100);
}

round-progress.positive {
    stroke: var(--progress-complete);
}

round-progress.negative {
    stroke: var(--progress-incomplete);
}


round-progress.neutral {
    stroke: var(--progress-pending);
}

round-progress {
    height: 100%;
    background: transparent;
}