ps-complex-recurring-scheduler .fc-scheduler {
    margin: 22px 0px;
}

ps-complex-recurring-scheduler .fc-scheduler,
ps-complex-recurring-scheduler .fc-scheduler * {
    color: var(--ps-font-light-color);
    cursor: pointer;
}

ps-complex-recurring-scheduler .fc-button-primary {
    background: var(--ps-highlight-background-color) !important;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

ps-complex-recurring-scheduler .fc-unthemed td.fc-today,
ps-complex-recurring-scheduler .fc .fc-daygrid-day.fc-day-today {
    background: var(--ps-highlight-background-color);
}

ps-complex-recurring-scheduler .fc-scroller.fc-day-grid-container {
    height: 100% !important;
}

ps-complex-recurring-scheduler .fc-view-harness-active {
    min-height: 27rem !important;
}

ps-complex-recurring-scheduler .fc .fc-toolbar-title {
    color: var(--ps-highlight-background-color);
}