.ui-keyboard {
    width: fit-content !important;
    margin-bottom: 15px !important;
    position: relative !important;
    border-radius: 10px !important;
    padding: 0.2em !important;
}

.ui-keyboard-button {
    border: 1px solid #aaa !important;
    font-family: Helvetica, Arial, sans-serif !important;
    color: #333 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5) !important;
    background: white !important;
    background-image: -webkit-linear-gradient(-90deg, white 0%, #e3e3e3 100%) !important;
    background-image: linear-gradient(-90deg, white 0%, #e3e3e3 100%) !important;
}

.ui-keyboard-button:not([disabled]):hover {
    background: #eee !important;
    background-image: -webkit-linear-gradient(-90deg, #f2f2f2 0%, #d3d3d3 100%) !important;
    background-image: linear-gradient(-90deg, #f2f2f2 0%, #d3d3d3 100%) !important;
}

.ui-keyboard-button:not([disabled]):active {
    background: #ddd !important;
    background-image: -webkit-linear-gradient(-90deg, #e5e5e5 0%, #d3d3d3 100%) !important;
    background-image: linear-gradient(-90deg, #e5e5e5 0%, #d3d3d3 100%) !important;
}

.ui-keyboard-button span {
    position: unset !important;
}

.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(213, 133, 18, 0.5) !important;
    box-shadow: 1px 1px 3px 0 rgba(213, 133, 18, 0.5) !important;
    border-color: #d58512 !important;
}

.ui-keyboard-button.ui-keyboard-combo.ui-state-active {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(38, 154, 188, 0.5) !important;
    box-shadow: 1px 1px 3px 0 rgba(38, 154, 188, 0.5) !important;
    border-color: #269abc !important;
}

button.ui-keyboard-accept.ui-keyboard-valid-input {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(57, 132, 57, 0.5) !important;
    box-shadow: 1px 1px 3px 0 rgba(57, 132, 57, 0.5) !important;
    border-color: #398439 !important;
}

button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover {
    border-color: #4cae4c !important;
}

button.ui-keyboard-accept.ui-keyboard-invalid-input {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(172, 41, 37, 0.5) !important;
    box-shadow: 1px 1px 3px 0 rgba(172, 41, 37, 0.5) !important;
    border-color: #ac2925 !important;
}

button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover {
    border-color: #d43f3a !important;
}
.enableVirtualKeyboard{
    pointer-events: auto !important;
}
button.ui-keyboard-toggle span {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iIzExMSI+PHBhdGggZD0iTTguNyw0LjRINy41SDUuMHYtMS45YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40LDAtMi41LDEuMS0yLjUsMi41djEuOWgxLjIgdi0xLjljMC0wLjcsMC42LTEuMiwxLjItMS4yczEuMiwwLjYsMS4yLDEuMnYxLjljLTAuNywwLTEuMiwwLjYtMS4yLDEuMlY4LjggYzAsMC43LDAuNiwxLjIsMS4yLDEuMmg1LjBDOS40LDEwLDEwLDkuNCwxMCw4LjhWNS42QzEwLDUuMCw5LjQsNC40LDguOCw0LjR6IE02LjYsNy40djEuMCBjMCwwLjItMC4xLDAuMy0wLjMsMC4zUzYuMCw4LjYsNi4wLDguNFY3LjRjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zLDAuMy0wLjYsMC42LTAuNiBTNi45LDYuNiw2LjksNi45QzYuOSw3LjEsNi44LDcuMyw2LjYsNy40eiIvPjwvc3ZnPg==') !important;
}

button.ui-keyboard-toggle.ui-keyboard-disabled span {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iIzExMSI+PHBhdGggZD0iTTcuNCA0LjRWMi41YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40IDAtMi41IDEuMS0yLjUgMi41djEuOSBjLTAuNyAwLTEuMiAwLjUtMS4yIDEuMnYzLjFDMS4zIDkuNCAxLjggMTAgMi41IDEwaDQuOWMwLjcgMCAxLjItMC42IDEuMi0xLjJWNS42IEM4LjcgNC45IDguMSA0LjQgNy40IDQuNHogTTUuMyA3LjR2MS4wYzAgMC4yLTAuMSAwLjMtMC4zIDAuM2MtMC4yIDAtMC4zLTAuMS0wLjMtMC4zVjcuNCBjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zIDAuMy0wLjYgMC42LTAuNmMwLjMgMCAwLjYgMC4zIDAuNiAwLjYgQzUuNiA3LjEgNS41IDcuMyA1LjMgNy40eiBNNi4yIDQuNEgzLjdWMi41YzAtMC43IDAuNS0xLjIgMS4yLTEuMmMwLjcgMCAxLjIgMC42IDEuMiAxLjIgVjQuNHoiLz48L3N2Zz4=') !important;
}

button.ui-keyboard-extender span {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgc3R5bGU9ImZpbGw6IzExMSI+PGc+PHBhdGggc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzExMSIgZD0iTSAwLjUsNC41IDE1LjUsNC41IDE1LjUsMTUuNSAwLjUsMTUuNSBaIj48L3BhdGg+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iMiIgeT0iNiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjYiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSI4IiB5PSI2Ij48L3JlY3Q+PHBhdGggZD0ibSAxMSw2IDMsMCAwLDUgLTIsMCAwLC0zIC0xLDAgeiI+PC9wYXRoPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjEyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSI2IiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjEyIj48L3JlY3Q+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iOSIgeT0iOSI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjYiIHk9IjkiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSIyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHg9IjIiIHk9IjkiPjwvcmVjdD48L2c+PC9zdmc+') !important;
}

.num-buttons {
    min-width: 40px !important
}

.vk-input {
    display: grid !important;
    grid-template-columns: 88% 12% !important;
    gap: 10px !important;
    align-items: center !important;
}

.vkIcon ion-icon {
    font-size: 26px !important;
    display: block !important;
}

@media (max-width: 500px) {
    .vk-input {
        display: grid !important;
        grid-template-columns: 85% 15% !important;
    }

    .vkIcon ion-icon {
        font-size: 16px !important;
    }
}