:root {
    --ps-valid-field-color: hsl(120, 73%, 75%);
    --ps-invalid-field-color: hsl(0, 85%, 60%);
    --ps-focused-field-color: #34258a;
    --ps-default-field-color: black;
    --ps-default-font-color: black;
}