forgot-credentials .ps-select-checkbox__item .ps-item-wrapper{
    --background:transparent !important;
    border: none !important;
}
forgot-credentials .ps-or-label{
    text-align: center;
}
forgot-credentials .forget-username-checkbox .ps-base-container-body-row{
    width:100% !important;
}
forgot-credentials ps.select-checkbox.forget-username-checkbox .ps-container-item-main-content .ps-base-container-body-row{
    width:100%;
    margin:0 !important;
}
forgot-credentials .ps-select-checkbox__item .ps-item-wrapper ion-label{
    white-space:inherit;
    text-overflow:inherit;
}
forgot-credentials .pass-note ps-label{
	display : none !important; 
}