ps-complex-notification .ps-complex-notification {
    width: 100%;
}

ps-complex-notification {
    max-height: 100%;
}

ps-complex-notification .ps-notification-item {
    margin: 15px;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

ps-complex-notification .ps-complex-notification-divider-label {
    color: var(--ps-font-light-color);
}

ps-complex-notification ion-list {
    background: none !important;
}

ps-complex-notification .anchor-title {
    font-weight: bold;
}

ps-complex-notification .notification-date * {
    font-size: var(--ps-sm-font) !important;
}

ps-complex-notification .notification-date .ps-action-image-row {
    flex-direction: row-reverse;
}

ps-complex-notification .notification-date .ps-action-image-row ion-icon {
    padding-inline-end: calc(var(--ps-form-container-padding-ratio-initial) * 10px);
}

ps-complex-notification ps-container-item .ps-container-item-wrapper {
    margin-bottom: 0.2em;
}

ps-complex-notification ps-container-item .item {
    --background: var(--ps-notification-background-color) !important;
    background: var(--ps-notification-background-color) !important;
    border-radius: var(--ps-fields-border-radius) !important;
}

.isWeb-Layout ps-complex-notification ps-container-item .item:not(.item-has-focus) {
    background: var(--ps-notification-background-color) !important;
    --background: var(--ps-notification-background-color) !important;
}

ps-complex-notification ps-hyperlink-anchor ps-label.description ion-label {
    font-size: var(--ps-md-font) !important;
    color: var(--ps-notification-font-color) !important;
    font-weight: 400;
    white-space: normal;
}

ps-complex-notification ps-hyperlink-anchor ps-label.title ion-label {
    color: var(--ps-notification-font-color) !important;
    font-weight: 600;
}

ps-complex-notification ps-hyperlink-anchor {
    order: 2;
}

ps-complex-notification ps-hyperlink-anchor .title {
    font-weight: none !important;
}

.notification-date {
    flex: initial;
    opacity: 0.5;
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 7px) 0px;
}

ps-complex-notification .anchor-title {
    font-weight: normal;
}

ps-complex-notification .ps-anchor-panel-data {
    max-width: 100%;
    flex: 0 0 100%;
}

ps-complex-notification ps-label.notif-header-title {
    display: flex;
    flex: 0 0 100%;
    border-radius: 5pt;
    margin-top: 15px;
    margin-inline-start: 15px !important;
}

ps-complex-notification ps-label.notif-header-title ion-label {
    font-weight: 600;
}

ps-complex-notification .ps-container-item-main-content {
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 10px) !important;

}

ps-complex-notification ps-hyperlink-anchor .ps-anchor-panel-image {
    display: none;
}

ps-complex-notification ion-label.text-truncate {
    white-space: normal !important;
}

ps-complex-notification .ps-action-icon-icon {
    order: 1
}