ps-container-html-viewer .ps-html-viewer-wrapper,
ps-container-html-viewer .ps-inline-html {
    height: 100% !important;
}
ps-container-html-viewer .ps-inline-html{
    padding: 0px var(--ps-section-padding);
}

ps-container-html-viewer .ps-inline-html {
    overflow: hidden !important;
    overflow-y: auto !important;
}

ps-container-html-viewer .ps-html-viewer-wrapper iframe {
    border-radius: calc(var(--ps-section-border-radius) * 1);
    height: 100%;
    background: var(--ps-background-info-color);
}

ps-container-html-viewer iframe{
    overflow: auto;
}