:root {
    --ps-assets-url: './assets';
    --color-mixer: hsl(211, 60%, 23%);

    /*FONT SIZE*/
    --ps-xs-font: calc(9px * var(--ps-font-size-ratio-initial));
    /*--ps-sm-font: calc(13px * var(--ps-font-size-ratio-initial));*/
    --ps-sm-font: calc(11px * var(--ps-font-size-ratio-initial));
    --ps-md-font: calc(15px * var(--ps-font-size-ratio-initial));
    --ps-lg-font: calc(17px * var(--ps-font-size-ratio-initial));
    --ps-xl-font: calc(22px * var(--ps-font-size-ratio-initial));
    --ps-xxl-font: calc(24px * var(--ps-font-size-ratio-initial));
    --ps-xxxl-font: calc(28px * var(--ps-font-size-ratio-initial));
    --ps-largeIcons-font: 32px;
    --ps-medLargsIcons-font: 25px;

    /**END FONT SIZE **/

    /*PRIMARY*/
    --ps-primary-color: #248b92;
    --ps-primary-degree-1-color: #005B68;
    --ps-primary-degree-2-color: #248B92;
    --ps-primary-degree-3-color: #0f7382;
    --ps-primary-degree-4-color: hsl(197, 94%, 40%);
    /*END PRIMARY*/


    /*SECONDARY*/
    --ps-secondary-color: #9acd00;
    --ps-secondary-degree-1-color: #B3A191;
    --ps-secondary-degree-2-color: rgb(0, 63, 65);
    --ps-secondary-degree-3-color: #CD9666;
    --ps-secondary-degree-4-color: #DA9151;
    /*END SECONDARY*/



    /*RATIO*/
    --ps-font-size-ratio-initial: 1;
    --ps-form-container-padding-ratio-initial: 1;
    /**END RATIO **/


    /*PADDING*/
    --ps-form-content-padding: calc(20px * var(--ps-form-container-padding-ratio-initial));
    --ps-section-padding: calc(20px * var(--ps-form-container-padding-ratio-initial));
    --ps-panel-padding: calc(20px * var(--ps-form-container-padding-ratio-initial)) calc(15px * var(--ps-form-container-padding-ratio-initial));
    /*END PADDING*/


    /*FONT COLOR */
    --ps-font-dark-color: #737573;
    --ps-font-light-color: white;
    --ps-input-label-font-color: hsl(211, 60%, 23%);
    --ps-input-value-font-color: hsl(211, 62%, 14%);
    --ps-input-placeholder-font-color: #737573;
    --ps-negative-value-font-color: #d15353;
    --ps-neutral-value-font-color: hsl(34, 100%, 58%);
    --ps-error-color: #d15353;
    --ps-success-color: green;
    --ps-default-font-color:#565656;
    --ps-focused-field-color:var(--ps-font-dark-color);
    /*FONT COLOR */





    /*FONT COLOR OPP*/
    --ps-font-color-opp-app-background: hsl(211, 60%, 23%);
    --ps-font-color-opp-primary-color: black;
    --ps-font-color-opp-secondary-color: white;
    --ps-font-color-opp-highlight-color: white;
    --ps-font-light-color-second-degree: rgb(255, 255, 255, 0.5);
    /*END FONT COLOR OPP*/




    /*SCROLL*/
    --scroll-bar-width: 3px;
    --scroll-bar-height: 3px;
    --scroll-bar-border-radius: 10px;
    --scroll-bar-thumb-color: var(--ps-primary-color);
    --scroll-bar-track-box-shadow: inset 0 0 5px white;
    /*END SCROLL*/



    /*SCROLLBAR*/
    --ps-scrollbar-color-primary: var(--scroll-bar-thumb-color);
    --ps-scrollbar-color-secondary: var(--scroll-bar-track-box-shadow);
    --ps-scrollbar-color-firefox: var(--ps-scrollbar-color-primary) var(--ps-scrollbar-color-secondary);
    --ps-scrollbar-width: thin;
    /*END SCROLLBAR*/




    /*BORDER RADIUS*/
    --ps-section-border-radius: calc(var(--ps-border-radius-ratio-initial) * 8px);
    --ps-fields-border-radius: calc(var(--ps-border-radius-ratio-initial) * 8px);
    --ps-panel-border-radius: calc(var(--ps-border-radius-ratio-initial) * 8px);
    --ps-popup-border-radius: calc(var(--ps-border-radius-ratio-initial) * 8px);
    --ps-card-border-radius: calc(var(--ps-border-radius-ratio-initial) * 8px);
    --ps-home-quick-links-radius: calc(var(--ps-border-radius-ratio-initial) * 20px);
    /*END BORDER RADIUS*/




    /*PANEL*/

    --ps-panel-expanded-header-background-color: var(--ps-primary-color);
    --ps-panel-collapsed-header-background-color: var(--ps-primary-color);
    --ps-panel-title-font-color: #BDD8DC;
    --container-panel-content-background-color: transparent;
    --ps-atm-panel-background-color: var(--ps-primary-color);
    --ps-atm-panel-header-background-color: var(--ps-panel-expanded-header-background-color) !important;
    --ps-authentication-panel-background-color: #FFFFFF;
    /*END PANEL*/



    /*DROPDOWN*/
    --ps-dropdown-panel-background: #EEEEEE;
    --ps-separator-panel-color: transparent;
    --ps-dropdown-overlay-font-color: var(--ps-font-dark-color);
    /*END DROPDOWN*/



    /*TOOLTIP*/
    --ps-tooltip-message-font-color: #737573;
    --ps-tooltip-message-background-color: #E6F1F9;
    /*END TOOLTIP*/




    /*IMAGES*/
    --ps-loader-image-name: "oie_813222Spc0ITWh.gif";
    --ps-loader-size: 100px;
    --ps-bank-logo: url('/assets/branding/cdm_theme/imgs/BankLogo.png');
    /*END IMAGES*/



    --ps-app-background-color: white;
    --ps-highlight-background-color: #206A73;
    --ps-app-header-color-stop1: rgb(17, 38, 110);
    --ps-app-header-color-stop2: #2F3BA2;


    --ps-app-opaque-background-color: white;



    /*Report css variables */
    --ps-report-header-color: white !important;
    --ps-report-content-color: #F6F6F6 !important;
    --ps-report-header-title-color: #1a1919 !important;
    --ps-report-header-title-size: 16pt;
    --ps-report-header-label-color: #1a1919 !important;
    --ps-report-header-value-color: #1a1919 !important;
    --ps-report-content-label-color: #1a1919 !important;
    --ps-report-content-label-value-color: #1a1919 !important;
    --ps-report-content-label-value2-color: #1a1919 !important;
    --ps-report-content-label-value3-color: #1a1919 !important;
    --ps-report-content-label-value4-color: #1a1919 !important;
    --ps-report-content-border-color: #1a1919 !important;
    --ps-report-header-image-width: 30px;
    --ps-report-highlight-background-color: #1a1919 !important;
    /*END Report */



    /* popup messages images definitions*/
    --ps-success-message-image-name: 'checkmark.svg';
    --ps-error-message-image-name: 'Stopper.svg';
    --ps-info-message-image-name: 'info.svg';
    --ps-fatal-message-image-name: 'FatalCrack.svg';
    --ps-no-network-image-name: 'NoNetwork.svg';
    /* END popup messages images definitions*/




    /* container-item */
    --ps-background-color-container-item: hsla(0, 0%, 100%, 0.851);
    --ps-background-color-container-item-details: white;
    --ps-subtitle-background-color: transparent;
    --ps-container-edit-subtitle-background: transparent;
    --ps-disabled-container-background-color: lightgray;
    /*END Container item*/




    /* header */
    --ps-header-background: transparent;


    /* account balance */
    --ps-balance-color: #737573;
    --ps--current-balance-background-color: transparent;
    --ps-available-balance-background-color: transparent;


    /*draft-report*/
    --ps-draft-report-background-color: #3952ab;
    /*nav header*/

    /*notitcation*/
    --ps-notification-background-color: linear-gradient(to bottom, #dcd9d9, lightgray);
    --ps-notification-font-color: rgb(153, 153, 153);
    /*end notification*/

    /*profile*/
    --ps-selected-language-background-color: var(--ps-secondary-color);
    /*End profile*/




    /*nav header , init value if we are using landing type 3, we set in height*/
    --ps-nav-header-init: 60px;
    --ps-nav-header-height: 0px;


    /*HEADER*/
    --ps-header-background-color: #EEEEEE;
    --ps-footer-background-color: transparent;
    --ps-app-header-icon-color: var(--ps-primary-color);
    --ps-main-title-color: var(--ps-primary-color);
    --ps-title-font-weight: 500;
    /*END HEADER*/




    /*MENU*/
    /*  widget menu */
    --ps-menu-box-background: transparent;
    /*tree menu*/
    --ps-menu-tree-label-color: #fff;
    --ps-menu-tree-selected-hover-color: transparent;
    --ps-menu-background-color: var(--ps-primary-color);
    /*END MENU*/




    /*STRUCTURE*/
    --ps-shadow-color: rgba(0, 0, 0, 0.5);
    --ps-form-container-background-color: #F6F6F6;
    /* margin left and right for web */
    --ps-margin-left: 0px;
    --ps-atm-model-page-margin: 25px;
    /*END STRUCTURE*/




    /*LOGIN*/
    --ps-login-label-color: #737573;
    /* additional hyperlink*/
    --ps-login-second-label-color: #737573;
    --ps-login-input-background-color: white;
    /*bank name and remember me */
    --ps-login-secondary-color: #737573;
    /*END LOGIN*/




    /*SEGMENT*/
    --ps-segment-selected-background-color: var(--ps-primary-color);
    --ps-segment-label-color:  var(--ps-primary-color);
    --ps-segment-selected-label-color: white;
    --ps-segment-background-color: #f6f6f6;
    --ps-segment-selected-border: 1px solid var(--ps-segment-label-color);
    --ps-segment-panel-selected-background-color: var(--ps-primary-color);
    --ps-segment-panel-label-color: white;
    --ps-segment-panel-selected-border: 0px;
    --ps-segment-font-weight: 500;
    --ps-opacity-default-segment-label: 1;
    --ps-segment-font-size: calc(14px * var(--ps-font-size-ratio-initial));
    /* END SEgment*/



    /*POPUP*/
    --ps-popup-button-background-color: var(--ps-primary-color);
    --ps-popup-background-color: #ffffff;
    --ps-alert-modal-background-color: #ffffff;
    --ps-popup-atm-details-background-color: rgba(0, 0, 0, 0.5);
    /*END POPUP*/



    /*ACCOUNT LIST*/
    --ps-account-list-title-background-color: transparent;
    --ps-account-list-title-font-edit-color: var(--ps-input-placeholder-font-color);
    --ps-card-action-buttons-background-color: #F6F6F6;
    --ps-background-info-color: #F6F6F6;
    --ps-lookup-padding-background: #999999;
    --ps-header-lookup-background: #020202;
    --ps-body-lookup-background: white;
    --ps-card-header-color: #FFFFFF;
    --ps-card-header-title-label-color: #737573;
    --ps-card-header-subtitle-label-color: #737573;
    --ps-show-more-less-color: #248B92;
    --ps-show-more-less-icon-background-color: white;
    --ps-statement-color: #248B92;
    --ps-edit-nickname-color: #248B92;
    /*END ACCOUNT LIST*/



    /*STEPPER*/
    --ps-stepper-nb-selected-background-color: var(--ps-primary-color);
    --ps-stepper-nb-background-color: #737573;
    --ps-stepper-line-color: #959595;
    --ps-stepper-step-done-background-color: var(--ps-primary-color);
    --ps-stepper-step-selected-background-color: var(--ps-primary-color);
    --ps-preview-label-color:var (--ps-font-dark-color);
    /*END STEPPER*/



    /*CHECKBOX*/
    --ps-checkbox-background-default: var(--ps-primary-color);
    --ps-checkbox-background-active: var(--ps-primary-color);
    --ps-checkbox-border-color:var(--ps-primary-color);
    --ps-checkbox-border-width: 1.5px;
    --ps-checkbox-unchecked-color: #D5D5D5;
    --ps-terms-cond-checkbox-color: var(--ps-primary-color);
    --ps-toggle-checked-background: var(--ps-primary-color);
    --ps-toggle-unchecked-background: var(--ps-checkbox-unchecked-color);
    /*END CHECKBOX*/



    /*FAB BUTTONS*/
    --ps-fab-list-color: white;
    --ps-fab-list-background-color: linear-gradient(to right, var(--ps-secondary-color), var(--ps-secondary-degree-2-color));
    --ps-fab-in-list-background-color: white;
    --ps-fab-in-list-color: rgb(153, 153, 153);
    /*END FAB BUTTONS*/



    /*PRAYER TIME*/
    --ps-prayer-time-primary-color: black;
    --ps-prayer-time-secondary-color: rgb(153, 153, 153);
    --ps-separator-time-color: black;
    /*END PRAYER TIME*/



    /*DRAFT REPORT*/
    --ps-draft-report-background-color: #3952ab;
    --round-progress-0-20: var(--ps-primary-degree-4-color);
    --round-progress-20-40: var(--ps-primary-degree-3-color);
    --round-progress-40-60: var(--ps-primary-degree-2-color);
    --round-progress-60-80: var(--ps-primary-degree-1-color);
    --round-progress-80-100: var(--ps-primary-color);
    /*END DRAFT REPORT*/
	
	
	/* Splash Screen */
	--ps-splash-screen-logo-name: 'BankLogo.png';
	/* End Splash Screen */
	

    --ps-checked-color : #9acd00;

    --ps-icon-panel-color: gray;

    --ps-root-font-size: calc(var(--ps-font-size-ratio-initial) * 1.4em);

    --ps-fields-margin: 20px;
}

/* 
.isWeb-Layout,
.isPad-Layout {
    --ps-form-container-background-color: white;
    --ps-background-info-color: linear-gradient(to bottom, rgb(0, 63, 65), rgb(7, 140, 146));
    --ps-background-color-container-item-details: white;
    --ps-checkbox-border-color: var(--ps-app-header-color-stop1);

}

.isWeb-Layout {
    --ps-header-background-color: transparent;
    --ps-footer-background-color: transparent;
    --ps-main-title-color: black;
    --ps-app-header-icon-color: black;
    --ps-font-color-opp-primary-color: hsl(211, 60%, 23%);
    --ps-terms-cond-checkbox-color: hsl(211, 60%, 23%);
} */