a{
    color: var(--ps-font-dark-color) !important;
}

.isWeb-Layout .ps-template-login-card-flex {
    background: white !important;
   
}
.ps-template-login-card-flex{
    justify-content: start;
}

omni-login ps-input-username ps-container-item .item,
omni-login ps-input-password ps-container-item .item {
    border: 1px solid rgb(185 176 176 / 24%);
}
ps-container-item .item.item-has-value.ion-valid.ion-dirty:not(.item-has-focus){
    border-bottom: 1px solid rgb(185 176 176 / 24%) !important;
}
omni-login ps-container-item .item{
    margin-top:10px !important
}
ps-template-login .ps-template-login-rememberMe {
    order: 4;
    margin-left: auto;
}

ps-template-login .ps-template-login-help {
    flex: 0 0 100%;
    max-width: 100%;

}

ps-template-login #ps-container-login-form {
    flex-direction: row;
    flex-wrap: wrap;
    /* height: initial !important; */
    height: calc(calc(80/100) * var(--ps-80vh))  !important;
    min-height: 450px;
}
ps-template-login .ps-template-login-username, ps-template-login .ps-template-login-password, ps-template-login .ps-template-login-rememberMe{
    height: 10vh;
    min-height: 60px;
}
ps-template-login .ps-template-login-submit, ps-template-login .ps-template-login-help{
    height: 7vh;
    min-height: 40px;
}
ps-template-login .ps-template-login-logo {
    width: 100%;
}

ps-template-login .ps-template-login-submit,
ps-template-login .ps-action-anchor {
    margin-top: 0px !important;
    margin-bottom: 15px;
}

ps-template-login .ps-template-login-rememberMe ion-label,
ps-template-login .ps-template-login-help ion-label {
    font-size: var(--ps-sm-font) !important;
}
.ps-template-login-help #help_with_cred_link{
    line-height: 14px;
}
ps-template-login .ps-template-login-rememberMe ps-container-item .ps-item-wrapper {
    margin-inline-start: 15px;
    margin-top: 0px !important;
}

ps-template-login .ps-template-login-help ion-label {
    padding: 0px !important;
    border-bottom: 1px solid var(--ps-login-second-label-color);
}

ps-template-login .ps-template-login-submit ion-button.ps-button-submit, ps-template-login .ps-template-login-submit ion-button {
    margin: 0px !important;
    --border-radius:calc(var(--ps-border-radius-ratio-initial) * 8pt) !important;
}
ps-template-login .ps-template-login-submit ps-action-icon .ps-action-icon-label ps-label .text-truncate{
    text-transform: lowercase !important;
}

ps-template-login .ps-template-login-submit ion-button .ps-action-icon-icon {
    display: none;
}
.ps-template-login-card-flex>div{
    position: relative;
}
ps-template-login .additional-links ion-label, ps-template-login .additional-links ps-action-hyperlink .ps-action-icon-icon ion-icon{
    white-space: pre-wrap;
    text-align: center;
    width: 100%;
}

.isMobile-Layout omni-login .ps-template-login-links {
    display: flex;
    width: 100%;
    position: relative;
   /* left: -30px;
    bottom: 60px;*/
    height: 33vh;
    align-items:flex-end;
}
omni-login .additional-links{
    align-items: start;
    
}
omni-login .additional-links ion-label.ps-label{
    white-space: normal;
    line-height: 16px;
    color: var(--ps-font-dark-color) !important;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(3), .ps-template-login-links .omni-login-links .additional-links:nth-child(4){
    display: none;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(1){
    position: absolute;
    left: -10px;
    top: 25px;
    display: block;
    text-align: left;
    width: 120px;
    text-decoration: underline;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(2){
    position: relative;
    margin-left: 2%;

}
.ps-template-login-links .omni-login-links .additional-links:nth-child(5){
    position: relative;
    margin-left: 15%;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(1) ion-label {
    text-align:left;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(6){
    position: absolute;
    right:0px;
    top: 25px;
    display: block;
    text-align: right;
    width: 120px;
    text-decoration: underline;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(7){
	position:relative;
    margin-left: 15%;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(6) ion-label{
text-align:right !important;
}
.ps-template-login-links .omni-login-links .additional-links:nth-child(1) .ps-action-icon-icon, .ps-template-login-links .omni-login-links .additional-links:nth-child(6) .ps-action-icon-icon{
    display: none;
}
ps-template-login .ps-template-login-links #prayer_time,
ps-template-login .ps-template-login-links #qibla_direction,
ps-template-login .ps-template-login-links #create_account,
ps-template-login .ps-template-login-links #financing_calculator,
ps-template-login .ps-template-login-links #products {
    display: none;
}

ps-template-login .online-registration-link {
    display: none;
}
ps-template-login .additional-links{
    order: 5;
   /* height: 0vh;*/
    height:auto;
}
ps-template-login .additional-links#call_us {
    order: 7;
}

ps-template-login .additional-links#atm_and_branch_locator {
    order: 8
}

ps-template-login .additional-links#faq {
    order: 9
}

ps-template-login .additional-links#call_us,
ps-template-login .additional-links#atm_and_branch_locator,
ps-template-login .additional-links#faq {
    max-width: 33.3%;
    flex: 0 0 33.3%;
    align-items: start;
    flex-flow: column-reverse;
    align-content: center;
}

ps-template-login .additional-links#call_us {
    display: flex;
}

ps-template-login .additional-links#call_us ps-action-hyperlink,
ps-template-login .additional-links#atm_and_branch_locator ps-action-hyperlink,
ps-template-login .additional-links#faq ps-action-hyperlink {
    width: 100%;
}

ps-template-login .additional-links#call_us ion-label,
ps-template-login .additional-links#atm_and_branch_locator ion-label,
ps-template-login .additional-links#faq ion-label {
    white-space: break-spaces;
    justify-content: center;
    min-height: 60px;
    text-align: center;
}

omni-login .additional-links .ps-action-anchor {
    margin-top: 0px !important;
}


ps-template-login .additional-links .ps-action-icon-label,
ps-template-login .additional-links .ps-action-icon-icon {
    width: 100%;
    flex: 0 0 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px;
}

ps-template-login .additional-links .ps-action-icon-icon ion-icon {
    font-size: var(--ps-xl-font) !important;
    padding: 0px !important;
}

.omni-login-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

ps-template-login .tooltip-container {
    display: none;
}

ps-template-login ps-container-item .ps-select-toggle-item {
    padding-inline-start: 0px;
    justify-content: end;
}


.omni-login-fab-list, .bank-name {
    display: none;
}

ps-template-login .additional-links {
    order: 7;
    width: 120px !important;
    justify-content: center;
}

ps-template-login .ps-template-login-username,
ps-template-login .ps-template-login-password,
ps-template-login .ps-template-login-submit {
    flex: 0 0 100%;
}

.isMobile-Layout .ps-template-login-card {
    background-image: url('/assets/branding/cdm_theme/imgs/login-background.png') !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}


.isMobile-Layout ps-template-login .bank-logo, ps-template-login .bank-logo {
    height: 20vh;
    margin-top: 0px;
    margin-bottom:0px!important;

}
.ps-template-login .ps-template-login-submit ion-button.ps-button-submit{
    --border-radius:calc(var(--ps-border-radius-ratio-initial) * 8pt) !important;
}


ps-template-login .ps-template-login-longName{
    margin-top: 5vh;
    height: auto;
}

ps-template-login .ps-template-login-longName ~ .ps-template-login-username, ps-template-login .ps-template-login-longName ~ .ps-template-login-password, ps-template-login .ps-template-login-longName ~ .ps-template-login-rememberMe{
    height: 8vh;
}
ps-template-login .ps-template-login-longName ~ .ps-template-login-links{
    height: 33vh;
}
ps-template-login .ps-template-login-longName ~ .ps-template-login-links .omni-login-links .additional-links:nth-child(1), ps-template-login .ps-template-login-longName ~ .ps-template-login-links .omni-login-links .additional-links:nth-child(6){
    top: 40px !important;
}
.ps-template-login-longName { 
    flex: 0 0 100%;
    max-width: 100%;
}

.ps-template-login-longName ps-label + ps-label{
    font-size: var(--ps-md-font);
    font-weight: 600;
}
.ps-template-login-longName ps-label{ 
    font-size: var(--ps-sm-font);
    color: var(--ps-primary-color);
    font-weight: 400;
}
.ps-template-login-longName ~ .ps-template-login-username{
    display: none !important;
}

.isMobile-Layout omni-login .ps-template-login-links{
    min-height: 230px  !important
}

omni-login #create_account_link ps-label , omni-login #financing_calculator_link ps-label , #atm_and_branch_locator_link ps-label{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    visibility: visible;
}



/**** Login Biometric button style start ****/
ps-button-biometric#biommmmetric_submit{
    margin-top:45px;
    max-height:68px;
    background-image: url(/assets/branding/cdm_theme/svg/biometric2.svg);
    background-position: center;
    background-size: cover;
    z-index: 50;
}
ps-button-biometric#biommmmetric_submit ion-icon.biometric{
    width:100%;
    /*border-radius:calc(var(--ps-border-radius-ratio-initial) * 10pt) !important; test*/
    font-size:58px;
    display: none;
}
ps-button-biometric#biommmmetric_submit .ps-action-icon-icon{
    margin:0px;
}
ps-button-biometric#biommmmetric_submit .ps-action-image-container{
    padding:0px;
}
/**** Login Biometric button style - End ****/
ps-template-login .ps-template-login-submit ion-button.ps-button-submit, ps-template-login .ps-template-login-submit ion-button{
    height: 55px !important;
}

ps-template-login .ps-template-login-submit #login_submit ion-button.ps-button-submit, ps-template-login .ps-template-login-submit #login_submit ion-button{
    height:55px;
}

ps-button-biometric#biommmmetric_submit .ps-action-icon-icon{
    margin:0px;
    font-size:initial;
}

.plt-iphone.plt-ios omni-login .additional-links ion-label.ps-label{
    text-align: center;
}