.live-chat {
    width: 50px;
    height: 50px !important;
    bottom: 40px !important;
}

.live-chat .ps-action-icon-icon {
    font-size: calc(var(--ps-xxxl-font) - 2px) !important;
}

.isMobile-Layout .live-chat {
    bottom: calc(var(--ps-sm-margin) * 3 ) !important;
    left: var(--ps-xxs-margin) !important;
}