/* ps-map-atm-branches,
ps-map-atm-branches .ps-map-map-section {
    height: 100%;
} */

ps-map-atm-branches {
    height: 100%;
    width: 100%;
}

.mapAtmBranchModal .modal-close-icon-container {
    height: auto !important;
}

.mapAtmBranchModal .ps-complex-card-details-atm-cdm_container_complex_base_container_body_container_body_container_fluid {
    height: auto !important;
}

.mapAtmBranchModal .modal-close-icon-row {
    justify-content: flex-start !important;
    background: var(--ps-app-opaque-background-color) !important;
    color: var(--ps-font-light-color);
}

.mapAtmBranchModal .modal-close-icon-row ps-label {
    margin: 10px;
}

.mapAtmBranchModal .modal-close-icon ion-icon {
    color: var(--ps-font-light-color);
    background: var(--ps-highlight-background-color);
    margin: 5px 0px;
    padding: 0px calc(var(--ps-form-container-padding-ratio-initial) * 10px) !important;
}

.mapAtmBranchModal .modal-wrapper .ion-page {
    height: var(--ps-100vh);
    width: auto;
}

.isWeb-Layout.userIsLoggedIn .mapAtmBranchModal .modal-wrapper .ion-page {
    height: calc(var(--ps-100vh) - calc(calc(2 * var(--ps-atm-model-page-margin)) + var(--ps-nav-header-height)));
}

.mapAtmBranchModal .modal-close-icon ion-icon {
    background: transparent;
}

.mapAtmBranchModal .modal-wrapper .ion-page {
    padding: 0px;
}

.mapAtmBranchModal .ps-complex-card-details-branch-opening-hours-list-item ps-icon-available,
ps-icon-unavailable {
    display: none !important;
}

ion-segment-button ion-icon {
    background-color: transparent !important;

}

.mapAtmBranchModal .card {
    background-color: transparent !important;
}

.dcMapLocator ps-map-atm-branches .ps-map-map-section {
    height: 100%;
    width: 100vw;
}

.mapAtmBranchModal .modal-wrapper {
    width: auto
}

.mapAtmBranchModal .modal-close-icon-row {
    background: var(--ps-header-background) !important;
}

.mapAtmBranchModal .modal-close-icon-row ion-label {
    text-overflow: ellipsis;
    overflow-x: auto;
    white-space: nowrap;
}

.ps-dropdowns-section{
    margin-bottom: 15px !important;
}
.ps-dropdowns-section .validation-message{
    position: absolute;
    left: 0;
    bottom: -20px;
}

.atm-branch-no-data{
    color: var(--ps-invalid-field-color);
    margin-top: -1.5%;
    margin-left: 1%;
}