@charset "UTF-8";

.ps-animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ps-animation.infinite {
  animation-iteration-count: infinite;
}

.ps-new-notification {
  animation-name: ps-new-notification;
}

.ps-rotate-widget {
  --ps-rotate-widget-duration: 0.5s;
  animation-name: ps-rotate-widget;
  animation-duration: var(--ps-rotate-widget-duration);
  -moz-animation-duration: var(--ps-rotate-widget-duration);
  -o-animation-duration: var(--ps-rotate-widget-duration);
  -webkit-animation-duration: var(--ps-rotate-widget-duration);
  animation-iteration-count: infinite;
}

@keyframes ps-rotate-widget {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes ps-new-notification {
  from {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(20deg);
  }

  25% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(20deg);
  }

  85% {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes ps-classic-sidebar {

  0%,
  100%,
  16%,
  64% {
    width: 33.33333333%
  }

  32%,
  48% {
    width: 0%
  }
}

@keyframes ps-classic-content {

  0%,
  100%,
  16%,
  64% {
    width: 55.55555555%
  }

  32%,
  48% {
    width: 100%
  }
}

@keyframes ps-layout-action {

  0%,
  100%,
  16% {
    width: 4px;
    height: 4px;
    opacity: 0
  }

  8% {
    width: 20px;
    height: 20px;
    opacity: .3
  }
}

@keyframes ps-tabbed-toolbar {

  0%,
  100%,
  16%,
  64% {
    left: 5%
  }

  32%,
  48% {
    left: 30%
  }
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.slideInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
  position: fixed;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-10 12:52:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

.flip-horizontal-bottom {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}

.slide-right {
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) linear;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
