.inline-loading-image .ps-action-image-image {
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
}

.inline-loading-image .ps-action-image-image ion-img {
    width: var(--ps-loader-size);
}

.inline-loading-image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 10;
}

ps-container-report-viewer ps-label.no_data_found{
    display: none;
}

ps-container-report-viewer ps-container-html-viewer .highlight {
    background: var(--ps-report-highlight-background-color) !important;
}

ps-container-report-viewer ps-container-html-viewer .ps-html-viewer-wrapper {
    padding: 0px !important;
}

ps-container-report-viewer ps-container-html-viewer .ps-html-viewer-wrapper .ps-inline-html {
    padding: 0px !important;
}

.ps-template-report-search ps-input-search-html .ps-keyin-input {
    padding-left: 1em !important;
}

ps-container-report-viewer * {
    font-size: var(--ps-sm-font) !important;
}

ps-container-report-viewer td.report-content-label,
ps-container-report-viewer td.report-header-label {
    opacity: 0.7;
}

ps-container-report-viewer td.report-header-value,
ps-container-report-viewer td.report-header-value {
    font-weight: 500;
}