.ps-custom-spinner-wrapper {
    height: 100% !important;
    width: 100% !important;
    z-index: 99999999999;
    background: #00000054;
}

.isWeb-Layout .ps-custom-spinner-wrapper {
    background: #00000091;
}

.show-spinner {
    display: block;
}

.hide-spinner {
    display: none;
}

.ps-custom-spinner-container {
    width: var(--ps-loader-size);
}


.live-chat {
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--ps-live-chat-background-color);
    position: absolute;
    z-index: 2000;
    width: 60px;
    height: 60px !important;
    border-radius: 50%;
    bottom: 5px !important;
    right: 10px !important;
    border: 1px solid var(--ps-live-chat-border-color);
    box-shadow: 2px 2px 2px 1px var(--ps-shadow-color);
}

.isMobile-Layout .live-chat {
    bottom: calc(var(--ps-sm-margin) * 3 ) !important;
}

.boundary-section {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.live-chat .ps-action-icon-icon {
    font-size: 35px !important;
    margin: 0px !important;
}


.live-chat ps-action-button {
    align-items: center;
    justify-content: center;
    display: flex;
    height: inherit;
}

.live-chat ion-button {
    --box-shadow: none !important;
    --background-activated: transparent !important;
    --background-focused: transparent !important;
    --border-width: 0px !important;
    font-size: 35px;
}


.live-chat {
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--ps-live-chat-background-color);
    position: absolute;
    z-index: 2000;
    width: 60px;
    height: 50px !important;
    border-radius: 50%;
    bottom: 40px !important;
    right: 10px !important;
    border: 1px solid var(--ps-live-chat-border-color);
    box-shadow: 2px 2px 2px 1px var(--ps-shadow-color);
}

.news-slider{
    position: absolute;
    border: 1px solid var(--ps-live-chat-background-color); 
    z-index: 2000;
    bottom: -1px !important;
    width: 100%;
    height: 4% !important;
    background: var(--ps-live-chat-background-color);
    color: var(--ps-font-light-color);
    display: grid;
    align-items: center;
    box-shadow: 5px 5px 5px 3px black;
}

.isMobile-Layout .live-chat {
    bottom: 80px !important;
}



.live-chat .ps-action-icon-icon {
    font-size: 35px !important;
    margin: 0px !important;
}


.live-chat ps-action-button {
    align-items: center;
    justify-content: center;
    display: flex;
    height: inherit;
}
.boundary-section-pages{
    height:96%;
}