:root {
    --ps-assets-url: './assets';
    --color-mixer: hsl(211, 60%, 23%);

    /*PRIMARY*/
    --ps-primary-color: #003399;
    --ps-primary-degree-1-color: hsl(204, 73%, 27%);
    --ps-primary-degree-2-color: hsl(201, 81%, 32%);
    --ps-primary-degree-3-color: hsl(199, 89%, 36%);
    --ps-primary-degree-4-color: hsl(197, 94%, 40%);
    /*END PRIMARY*/


    /*SECONDARY*/
    --ps-secondary-color: #b33900;
    --ps-secondary-degree-1-color: #B3A191;
    --ps-secondary-degree-2-color: #C09B7B;
    --ps-secondary-degree-3-color: #CD9666;
    --ps-secondary-degree-4-color: #DA9151;
    /*END SECONDARY*/

    /* Fields spacing */
    --ps-fields-margin: 12px;


    /*FONT SIZE*/
    --ps-xs-font: calc(9px * var(--ps-font-size-ratio-initial));
    --ps-sm-font: calc(15px * var(--ps-font-size-ratio-initial));
    --ps-md-font: calc(16px * var(--ps-font-size-ratio-initial));
    --ps-lg-font: calc(17px * var(--ps-font-size-ratio-initial));
    --ps-xl-font: calc(18px * var(--ps-font-size-ratio-initial));
    --ps-xxl-font: calc(24px * var(--ps-font-size-ratio-initial));
    --ps-xxxl-font: calc(32px * var(--ps-font-size-ratio-initial));
    --ps-header-title-font-size: var(--ps-lg-font);
    --ps-panel-icon-font-size: var(--ps-xxl-font);
    --ps-fields-icon-font-size: var(--ps-lg-font);
    --ps-header-icon-font-size: var(--ps-xl-font);
    --ps-menu-icon-font-size: var(--ps-xl-font);
    /**END FONT SIZE **/


    /*RATIO*/
    --ps-font-size-ratio-initial: 1;
    --ps-form-container-padding-ratio-initial: 1;
    /**END RATIO **/


    /*PADDING*/
    --ps-form-content-padding: calc(10px * var(--ps-form-container-padding-ratio-initial));
    --ps-section-padding: calc(10px * var(--ps-form-container-padding-ratio-initial));
    --ps-panel-padding: calc(10px * var(--ps-form-container-padding-ratio-initial));
    /*END PADDING*/


    /*FONT COLOR */
    --ps-font-dark-color: black;
    --ps-font-light-color: rgb(255, 255, 255);
    --ps-input-label-font-color: hsl(211, 60%, 23%);
    --ps-input-value-font-color: hsl(211, 62%, 14%);
    --ps-input-placeholder-font-color: #535353;
    --ps-negative-value-font-color: hsl(0, 100%, 50%);
    --ps-neutral-value-font-color: hsl(34, 100%, 58%);
    --ps-error-color: var(--ps-highlight-background-color);
    --ps-success-color: green;
    /*FONT COLOR */





    /*FONT COLOR OPP*/
    --ps-font-color-opp-app-background: hsl(211, 60%, 23%);
    --ps-font-color-opp-primary-color: white;
    --ps-font-color-opp-secondary-color: white;
    --ps-font-color-opp-highlight-color: white;
    --ps-font-light-color-second-degree: rgb(255, 255, 255, 0.5);
    /*END FONT COLOR OPP*/




    /*SCROLL*/
    --ps-scroll-bar-width: 3px;
    --scroll-bar-height: 3px;
    --ps-scroll-bar-border-radius: 10px;
    --ps-scroll-bar-thumb-color: var(--ps-primary-color);
    --ps-scroll-bar-track-box-shadow: inset 0 0 5px white;
    /*END SCROLL*/



    /*SCROLLBAR*/
    --ps-scrollbar-color-primary: var(--ps-scroll-bar-thumb-color);
    --ps-scrollbar-color-secondary: var(--ps-scroll-bar-track-box-shadow);
    --ps-scrollbar-color-firefox: var(--ps-scrollbar-color-primary) var(--ps-scrollbar-color-secondary);
    --ps-scroll-bar-width-firefox: thin;
    /*END SCROLLBAR*/




    /*BORDER RADIUS*/
    --ps-section-border-radius: calc(var(--ps-border-radius-ratio-initial) * 7px);
    --ps-fields-border-radius: calc(var(--ps-border-radius-ratio-initial) * 10px);
    --ps-panel-border-radius: calc(var(--ps-border-radius-ratio-initial) * 7px);
    --ps-popup-border-radius: calc(var(--ps-border-radius-ratio-initial) * 10px);
    --ps-card-border-radius: calc(var(--ps-border-radius-ratio-initial) * 7px);
    /*END BORDER RADIUS*/




    /*PANEL*/

    --ps-panel-expanded-header-background-color: linear-gradient(to right,#E24F0B, #ED5007, #E24F0B);
    --ps-panel-collapsed-header-background-color: linear-gradient(to right,#E24F0B, #ED5007, #E24F0B);
    --ps-template-menu-background-color: linear-gradient(to bottom, var(--ps-primary-color) 15%, var(--ps-secondary-color) 42%) !important;
    --ps-panel-title-font-color: white;
    --container-panel-content-background-color: rgb(239, 184, 159) !important;
    --container-card-content-background-color: rgb(239, 184, 159) !important;
    --ps-atm-panel-background-color: #5c7cd6;
    --ps-atm-panel-header-background-color: var(--ps-panel-expanded-header-background-color) !important;
    --ps-authentication-panel-background-color: #05146c;
    /*END PANEL*/



    /*DROPDOWN*/
    --ps-dropdown-panel-background: #94a5e2;
    --ps-separator-panel-color: #4f60d8;
    --ps-dropdown-overlay-font-color: var(--ps-primary-color);
    /*END DROPDOWN*/



    /*TOOLTIP*/
    --ps-tooltip-message-font-color: hsl(0, 0%, 100%);
    --ps-tooltip-message-background-color: #E6F1F9;
    /*END TOOLTIP*/




    /*IMAGES*/
    --ps-loader-image-name: "AzentioBankLogoLoader.png";
    --ps-loader-size: 100px;
    --ps-bank-logo: url('/assets/branding/presales_theme/imgs/AzentioBankLogo.png');
    --app-logo: "AzentioBankLogo.png";
    --body-background-presales: url('/assets/branding/presales_theme/imgs/BodyBackground.svg');
    /*END IMAGES*/


    --ps-ion-page-background-color: rgb(151, 151, 151);
    --ps-app-background-color: white;
    --ps-highlight-background-color: #ff5100;
    --ps-app-header-color-stop1: #123fad;
    --ps-app-header-color-stop2: #233e99;
    --ps-segment-button-border: #453C83;


    --ps-app-opaque-background-color: none;



    /*Report css variables */
    --ps-report-header-color: #0000004a !important;
    --ps-report-content-color: hsl(225, 22%, 96%, 0.7);
    --ps-report-header-title-color: #f4f5f8;
    --ps-report-header-title-size: 15px;
    --ps-report-header-label-color: #f4f5f8;
    --ps-report-header-value-color: hsl(34, 100%, 58%);
    --ps-report-content-label-color: #6b6b6b;
    --ps-report-content-label-value-color: #355EA9;
    --ps-report-content-label-value2-color: #355EA9;
    --ps-report-content-label-value3-color: #355EA9;
    --ps-report-content-label-value4-color: #355EA9;
    --ps-report-content-border-color: #6b6b6b;
    --ps-report-header-image-width: 30px;
    --ps-report-highlight-background-color: #FB8310;
    /*END Report */



    /* popup messages images definitions*/
    --ps-success-message-image-name: 'checkmark.svg';
    --ps-error-message-image-name: 'Stopper.svg';
    --ps-info-message-image-name: 'info.svg';
    --ps-fatal-message-image-name: 'FatalCrack.svg';
    --ps-no-network-image-name: 'NoNetwork.svg';
    /* END popup messages images definitions*/




    /* container-item */
    --ps-background-color-container-item: hsla(0, 0%, 100%, 0.851);
    --ps-background-color-container-item-details: hsl(213deg, 48%, 45%);
    --ps-subtitle-background-color: transparent;
    --ps-container-edit-subtitle-background: transparent;
    --ps-disabled-container-background-color: lightgray;
    --ps-disabled-container-label-color: gray;
    /*END Container item*/




    /* header */
    --ps-header-background: linear-gradient(to right, var(--ps-app-header-color-stop1), var(--ps-app-header-color-stop2));


    /* account balance */
    --ps-balance-color: var(--ps-font-light-color);
    --ps--current-balance-background-color: hsl(220deg 100% 23%);
    --ps-available-balance-background-color: #ED5007;


    /*draft-report*/
    --ps-draft-report-background-color: #3952ab;
    /*nav header*/

    /*notitcation*/
    --ps-notification-background-color: #7388c3;
    /*end notification*/

    /*profile*/
    --ps-selected-language-background-color: #252588;
    /*End profile*/




    /*nav header , init value if we are using landing type 3, we set in height*/
    --ps-nav-header-init: 50px;
    --ps-nav-header-height: 0px;


    /*HEADER*/
    --ps-header-background-color: linear-gradient(to right, var(--ps-app-header-color-stop1), var(--ps-app-header-color-stop2));
    --ps-footer-background-color: transparent;
    --ps-app-header-icon-color: #FFFFFF;
    --ps-main-title-color: white;
    /*END HEADER*/




    /*MENU*/
    /*  widget menu */
    --ps-menu-box-background: transparent;
    /*tree menu*/
    --ps-menu-tree-label-color: #fff;
    --ps-menu-tree-selected-hover-color: hsla(0, 0%, 87.8%, .2);
    --ps-menu-tree-border-color: rgba(81, 54, 83, 22%);;
    /*END MENU*/




    /*STRUCTURE*/
    --ps-shadow-color: rgba(0, 0, 0, 0.5);
    --ps-form-container-background-color: transparent;
    /* margin left and right for web */
    --ps-margin-left: 0px;
    --ps-atm-model-page-margin: 25px;
    /*END STRUCTURE*/




    /*LOGIN*/
    --ps-login-label-color: white;
    /* additional hyperlink*/
    --ps-login-second-label-color: #ffffffb8;
    --ps-login-input-background-color: white;
    /*bank name and remember me */
    --ps-login-secondary-color: #c3c1c1;
    /*END LOGIN*/




    /*SEGMENT*/
    --ps-segment-selected-background-color: transparent;
    --ps-segment-label-color: white;
    --ps-segment-background-color: #8080801f;
    --ps-segment-selected-border: 1px solid var(--ps-segment-label-color);
    --ps-segment-panel-selected-background-color: #8080801f;
    --ps-segment-panel-label-color: white;
    --ps-segment-panel-selected-border: 0px;
    /* END SEgment*/



    /*POPUP*/
    --ps-popup-button-background-color: #4d70b8c7;
    --ps-popup-background-color: #00246beb;
    --ps-alert-modal-background-color: #00000052;
    --ps-alert-modal-background-color2: #00246beb;
    --ps-popup-atm-details-background-color: rgba(0, 0, 0, 0.5);
    /*END POPUP*/



    /*ACCOUNT LIST*/
    --ps-account-list-title-background-color: transparent;
    --ps-account-list-title-font-edit-color: var(--ps-input-placeholder-font-color);
    --ps-card-action-buttons-background-color: #ffd3be;
    --ps-background-info-color: rgba(17, 38, 110, 0.8);
    --ps-lookup-padding-background: #302520;
    --ps-header-lookup-background: #020202;
    --ps-body-lookup-background: #94a5e2;
    --ps-card-header-color: linear-gradient(to right,#E24F0B, #ED5007, #E24F0B);;
    --ps-card-header-title-label-color: var(--ps-font-light-color);
    --ps-card-header-subtitle-label-color: var(--ps-font-color-opp-primary-color);
    --ps-card-title-color: var(--ps-font-light-color);
    --ps-show-more-less-color: var(--ps-font-light-color);
    --ps-show-more-less-icon-background-color: transparent;
    --ps-statement-color: var(--ps-font-light-color);
    --ps-edit-nickname-color: var(--ps-font-light-color);
    --ps-card-save-button-background-color: transparent;
    --ps-card-save-button-font-color: var(--ps-font-color-opp-primary-color);
    --ps-card-save-font-size: var(--ps-lg-font);
    /*END ACCOUNT LIST*/



    /*STEPPER*/
    --ps-stepper-nb-selected-background-color: #6f7cca;
    --ps-stepper-nb-background-color: #737573;
    --ps-stepper-line-color: #959595;
    --ps-stepper-step-done-background-color: var(--ps-button-submit-background-color);
    --ps-stepper-step-selected-background-color: var(--ps-highlight-background-color);
    --ps-preview-label-color: white;
    /*END STEPPER*/



    /*CHECKBOX*/
    --ps-checkbox-background-default: var(--ps-primary-color);
    --ps-checkbox-background-active: var(--ps-primary-color);
    --ps-checkbox-border-color: white;
    --ps-checkbox-border-width: 1.5px;
    --ps-checkbox-unchecked-color: #757575;
    --ps-terms-cond-checkbox-color: white;
    --ps-toggle-checked-background: var(--ps-highlight-background-color);
    --ps-toggle-unchecked-background: var(--ps-checkbox-unchecked-color);
    /*END CHECKBOX*/



    /*FAB BUTTONS*/
    --ps-fab-list-color: white;
    --ps-fab-list-background-color: var(--ps-highlight-background-color);
    --ps-fab-in-list-background-color: white;
    --ps-fab-in-list-color: var(--ps-highlight-background-color);
    /*END FAB BUTTONS*/



    /*PRAYER TIME*/
    --ps-prayer-time-primary-color: #D5835E;
    --ps-prayer-time-secondary-color: white;
    --ps-separator-time-color: gray;
    /*END PRAYER TIME*/



    /*DRAFT REPORT*/
    --ps-draft-report-background-color: rgb(239, 184, 159) !important;
    --round-progress-0-20: var(--ps-primary-degree-4-color);
    --round-progress-20-40: var(--ps-primary-degree-3-color);
    --round-progress-40-60: var(--ps-primary-degree-2-color);
    --round-progress-60-80: var(--ps-primary-degree-1-color);
    --round-progress-80-100: var(--ps-primary-color);
    --progress-complete: green;
    --progress-incomplete: red;
    --progress-pending: orange;
    /*END DRAFT REPORT*/

    /*OTHERS */
    --ps-input-count-cursor-icon-color: white;
    --ps-verify-cif-color: var(--ps-highlight-background-color);


    --ps-quick-menu-height: 45px;

    /* STATUS BAR COLOR */
    --ps-statusbar-background-color: #F5F5F5;
}

.isWeb-Layout,
.isPad-Layout {
    --ps-form-container-background-color: #e6e6e6;
    --ps-background-info-color: rgba(17, 38, 110, 0.9);
    --ps-background-color-container-item-details: rgb(239, 184, 159);
    --ps-checkbox-border-color: var(--ps-app-header-color-stop1);

}

.isWeb-Layout {
    --ps-font-color-opp-primary-color: hsl(220deg 100% 23%);
    --ps-terms-cond-checkbox-color: hsl(220deg 100% 23%);
}