body{
    font-family: system-ui;
    margin: 0px;
}
 .header-div{
    height: 18vh;
    background: #009997;
    text-align: center;
    position: relative;
}
.body-div{
    height: 80vh;
}
.text-center{
    text-align: center;
}
.primary-color{
    color: #009997;
}
.bold-text{
    font-weight: bold;
}
.title{    
    padding: 20px;
    text-align: center;
 }
 .sub-title{
    padding: 0px 10px 0px 10px;
    font-size: 14px;
 }
 .author_bio_toggle_wrapper    
{
    padding: 15px 30px 0px 30px;   
}

#author_bio_wrap 
{
    margin-top: 0px;  
    margin-bottom: 30px; 
    width: auto; 
    padding: 0px 25px 0px 25px;
}



#author_bio_wrap_toggle 
{
    display: block;
    width: 100%;
    height: 35px;
    color: #009997;
    text-decoration: none;
    font-size: 20px;
}
.icon{
    float: right;
    width: 3%;
    height: 40%;
}
.content{
    margin-top: 25px;
}
.faq-title{
    position: absolute;
    bottom: 5%;
    left: 45%;
    color: #efefef;
    font-size: 20px;
}
.img-header{
    width: 15%;
    height: 40%;
    margin-top: 5%;
}
