.benef-list .container-option-table-row-phone_number_key,
.benef-list .container-option-table-row-purpose_key,
.benef-list .ps-container-lookup-option-details mat-card-subtitle ps-dynamic-edit,
.benef-list .lookup-item-label,
.benef-list .container-option-table-row-bank_key,
.benef-list .statement-card,
.benef-list ps-container-lookup-option .container-option-table-row-beneficiary_bvn_key {
    display: none;
}

.benef-list .ps-container-lookup-option-details .lookup-details-header {
    position: absolute;
    margin-inline-start: 15px;
}

.benef-list ps-container-lookup-option .lookup-item-value .item-value-child {
    text-align: start;
}

.benef-list ps-container-lookup-option .mat-card-content {
    padding: 0px 30px !important;
    padding-top: calc(var(--ps-form-container-padding-ratio-initial) * 5px) !important;
}

.benef-list .mat-card-header-text {
    display: flex;
    flex-direction: row-reverse;
}

.benef-list .container-option-table-row-benef_name_key .item-value-child {
    font-weight: 500;
}

.benef-list ps-container-lookup-option .show-more-less-button-card {
    max-width: 100%;
    flex: 0 0 100%
}
