:root {
    --ps-search-bar-padding: calc(var(--ps-form-container-padding-ratio-initial) * 35px);
    --ps-select-dropdown-box-shadow: 0 0 20px 5px black;
    --ps-select-dropdown-height: 300px;
    --ps-select-dropdown-min-width: 170px;
    --ps-select-dropdown-searchbar-height: 70px;
    --ps-select-dropdown-list-spacing: calc(8px * var(--ps-form-container-padding-ratio-initial));
}
.dropdown-select-disable{
    pointer-events: none !important;
    opacity: 0.5 !important;
    }

ps-select-dropdown-overlay {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999999;
}

ps-select-dropdown-overlay .ps-dismiss-modal {
    height: 100%;
    width: 100%;
    z-index: 999999999;
}

ps-select-dropdown-overlay .ps-item-list-wrapper {
    position: absolute;
    animation: show-list;
    animation-duration: 0.3s;
    overflow-y: auto;
    z-index: 9999999999;
    min-width: var(--ps-select-dropdown-min-width);
    height: var(--ps-select-dropdown-height);
    overflow: hidden;
    box-shadow: var(--ps-select-dropdown-box-shadow) !important;
    -webkit-box-shadow: var(--ps-select-dropdown-box-shadow) !important;
    border-radius: var(--ps-section-border-radius) !important;
}

ps-select-dropdown-overlay .ps-item-list-wrapper ion-item {
    border-radius: var(--ps-section-border-radius) !important;
}



ps-select-dropdown-overlay .ps-item-list-wrapper ps-container-item .ps-container-item-wrapper {
    margin-bottom: 0px !important;
}

ps-select-dropdown-overlay .ps-item-list-wrapper ps-container-item .item {
    --padding-start: 0px !important;
    --inner-padding: 0px !important;
    --inner-padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
    --background: var(--ps-dropdown-panel-background) !important;
    color: var(--ps-dropdown-overlay-font-color);
}


ps-select-dropdown-overlay .list-wrapper ion-item {
    margin: 0px calc(2 * var(--ps-select-dropdown-list-spacing));
}

ps-select-dropdown-overlay ps-container-item ion-item ion-label {

    color: var(--ps-dropdown-overlay-font-color) !important;
}

ps-select-dropdown-overlay .ps-item-list {
    overflow-y: auto !important;
    height: calc(var(--ps-select-dropdown-height) - var(--ps-select-dropdown-searchbar-height));
    /* height: 100%; */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

ps-select-dropdown-overlay .searchbar-wrapper {
    height: var(--ps-select-dropdown-searchbar-height);
}

ps-select-dropdown-overlay .list-wrapper {
    height: var(--ps-select-dropdown-height);
    width: 100%;
}


ps-select-dropdown-overlay .ps-item-list ion-avatar {
    /* padding: var(--ps-select-dropdown-list-spacing) calc(2 * var(--ps-select-dropdown-list-spacing)) !important; */
    border-radius: var(--ps-dropdown-image-border-radius) !important;
    --border-radius: var(--ps-dropdown-image-border-radius) !important;
    width: 2em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 2.1em; */
}

ps-select-dropdown-overlay .loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

ps-select-dropdown-overlay .loading-wrapper ion-icon {
    font-size: calc(var(--ps-font-size-ratio-initial) * 3em);
}

ps-select-dropdown-overlay .hide-list {
    animation: hide-list 0.3s forwards 0s !important;
    -webkit-animation: hide-list 0.3s forwards 0s !important;
}




ps-select-dropdown-overlay ion-searchbar input {
    -webkit-padding-start: var(--ps-search-bar-padding) !important;
    padding-inline-start: var(--ps-search-bar-padding) !important;
    -webkit-padding-end: var(--ps-search-bar-padding) !important;
    padding-inline-end: var(--ps-search-bar-padding) !important;
}












/* @-webkit-keyframes show-list {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(50px)
    }
}

@keyframes show-list {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(50px)
    }
}

@-webkit-keyframes hide-list {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes hide-list {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
} */
















@-webkit-keyframes show-list {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes show-list {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@-webkit-keyframes hide-list {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes hide-list {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

ps-select-dropdown-overlay .additional-dropdown-information .tooltip {
    visibility: hidden;
    width: 82%;
    background-color: var(--ps-tooltip-message-background-color);
    text-align: center;
    position: fixed;
    max-height: 300px;
    overflow: scroll;
}

ps-select-dropdown-overlay .dropdown-select-ui .ps-dropdown-select-item:hover,
.item-is-selected {
    background: var(--ps-highlight-background-color) !important;
    --background: var(--ps-highlight-background-color) !important;
}


ps-select-dropdown-overlay .additional-dropdown-information-hover .tooltip {
    visibility: visible;
    opacity: 1;
}

ps-select-dropdown-overlay .additional-dropdown-information .tooltip::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--ps-tooltip-message-background-color);
    clear: both;
}

ps-select-dropdown-overlay .avatar-label-wrapper {
    display: inherit;
}

ps-select-dropdown-overlay ps-container-item ion-item {
    --border-color: var(--ps-separator-panel-color);
}

ps-select-dropdown-overlay ps-container-item ion-item ps-label {
    padding: 0 16px;
}

ps-select-dropdown-overlay .avatar-label-wrapper ps-action-icon {
    width: 5%;
}

ps-select-dropdown-overlay .additional_description_item {
    width: 100%;
}

ps-select-dropdown-overlay ps-action-image ion-img {
    height: auto !important;
    margin: auto;
    width: 50% !important;
    object-fit: cover;
}

ps-select-dropdown-overlay ps-action-image {
    padding: 10px 0;
}

ps-select-dropdown-overlay .data-actions_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}