ion-textarea {
    border-radius: calc(5px * var(--ps-border-radius-ratio-initial)) !important;
    background: transparent !important;
    --padding: 0px !important;
    max-height: 40px !important;
    overflow-y: auto;
}

ps-keyin-textarea ion-textarea textarea {
    padding: 0px !important;
}

ion-textarea,
ion-textarea * {
    height: 40px !important;
}