/* ps-select-segment .segment-button-checked {
  color: var(--ps-highlight-background-color) !important;
  border-bottom: 1px solid var(--ps-highlight-background-color) !important;
  font-weight: bold;
  --color-checked: none;
}

ps-select-segment .ps-segment-button-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.ps-select-segment {
  color: var(--ps-primary-color);
  font-size: var(--ps-md-font);
}

.segment-seperator {
  height: 60% !important;
  width: 2px;
  background: var(--ps-primary-color);
  margin-inline-start: 3px;
} */

ps-select-segment .ps-segment-button-wrapper {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

ps-select-segment ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

ps-select-segment ion-segment {
  margin: 0px !important;
  height: auto !important;
}

ps-select-segment .ps-item-segment .container-fluid,
ps-select-segment .ps-item-segment .row {
  margin: 0px !important;
  padding: 0px !important;
}

ps-select-segment .ps-select-segment {
  color: var(--ps-segment-label-color);
  font-size: var(--ps-md-font);
  --border-style: none !important;
}

ps-select-segment .ps-select-segment ion-label,
ps-select-segment .ps-select-segment ion-icon {
  color: var(--ps-segment-label-color) !important;
}

ps-select-segment .segment-button-checked {
  background: var(--ps-segment-selected-background-color) !important;
  font-weight: 500;
  --color-checked: none;
  color: var(--ps-segment-label-color);
  border-bottom: 5px solid var(--ps-highlight-background-color);
  border-radius: 0px;
  margin-top: 0px !important
}


ps-select-segment ps-container-item .ps-container-item-wrapper {
  margin: 0px !important;
}

ps-select-segment ps-container-item ion-item,
ps-select-segment ps-container-item .item {
  height: 45px !important;
  min-height: 45px !important;
  --background: var(--ps-segment-background-color) !important;
  background: var(--ps-segment-background-color) !important;
  border-bottom: var(--ps-segment-selected-border) !important;
}

.isWeb-Layout ps-select-segment ps-container-item .item:not(.item-has-focus) {
  border-bottom: 1px solid var(--ps-segment-label-color) !important;
  border-radius: 0px !important;
}


ps-select-segment ion-segment-button {
  min-height: 25px !important;
  flex-direction: row;
  display: block;
  --indicator-color: var(--ps-segment-selected-background-color);
}

.isWeb-Layout ps-select-segment ion-segment-button {
  min-height: 40px !important;
}

ps-select-segment ion-segment-button:not(.segment-button-checked) {
  opacity: 0.4;
}


ps-select-segment .ps-select-segment ps-action-icon {
  margin: 0px 5px !important;
}

ion-segment {
  flex: 1;
  display: flex;
  overflow: auto;
}

ps-select-segment ion-segment-button ion-label {
  padding: 0px calc(var(--ps-form-container-padding-ratio-initial) * 5px) !important;
}

ps-select-segment ion-item.item.item:not(.item-has-focus) {
  border-bottom: 0px !important;
}

ps-select-segment ion-item.item {
  border-radius: 0px !important;
}

.ps-segment-button-wrapper {
  display: flex;
  min-width: min-content;
  background: var(--ps-segment-background-color);
}


ion-segment {
  scrollbar-color: var(--ps-scrollbar-color-firefox);
  scrollbar-width: var(--ps-scroll-bar-width-firefox);
}

.isMobile-Layout ps-select-segment ps-container-item .ps-container-item-wrapper {
  margin: 0px !important;
}

.isMobile-Layout ps-select-segment ps-container-item ion-item {
  height: 45px !important;
  min-height: 45px !important;
  --background: none !important;
  background: none !important;
}

.ps-item-segment ps-base-container .ps-keyin-input-label-cust {
  display: none;
}

ps-select-segment .ps-container-item-main-content-icon {
  flex: 0 0 100%;
  max-width: 100%;
}

ps-select-segment .ps-container-item-main-content-icon {
  flex: 0 0 100%;
  max-width: 100%;
}

ion-segment {
  background: var(--ps-segment-background-color);
}