.ps-balance {
    display: flex;
    /* padding-right: 1em; */
    padding-bottom: 0.5em;
}

.ps-balance .current-balance-div {
    text-align: center;
    background-color: var(--ps--current-balance-background-color);
    border-right: 2px solid var(--ps-font-light-color);
    color: var(--ps-font-light-color);
    padding-top: 0.2em;
    border-top-left-radius: 0.5em;
    text-align: left;
}

.ps-balance .available-balance-div {
    text-align: center;
    background-color: var(--ps-available-balance-background-color);
    color: var(--ps-font-light-color);
    padding-top: 0.2em;
    border-bottom-right-radius: 0.5em;
    text-align: left;
}


.ps-balance .available-balance-div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.ps-balance .current-balance-div {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}