ps-select-toggle .ps-select-toggle-item .ps-select-toggle-wrapper {
    order: 2;
}

ps-select-toggle .ps-select-toggle-item.ng-touched:not(.has-value),
ps-select-toggle .ps-select-toggle-item.ng-untouched:not(.has-value) {
    color: white !important;

}