ps-template-base>*,
ps-template-base>.container-fluid {
    display: block !important;
    height: auto !important;
}

.main-footer,
.main-content,
.main-header {
    width: 100%;
    position: relative;
    padding-bottom: calc(var(--ps-form-container-padding-ratio-initial) * 10px);
}

.main-footer ps-action-button>div {
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 5px) 0px !important;
}

ps-template-base .main-header {
    padding: 0px !important;
    background: var(--ps-app-opaque-background-color) !important;
}


ps-template-base .main-header>*,
ps-template-base .main-content>*,
ps-template-base .main-header>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    /* position: relative; */
}

.isWeb-Layout ps-template-base .main-content {
    padding-top: var(--ps-section-padding) !important;
    padding-bottom: var(--ps-section-padding) !important;
}

.isPad-Layout ps-template-base .template-base-row,
.isMobile-Layout ps-template-base .template-base-row,
.isWeb-Layout.userIsNotLoggedIn ps-template-base .template-base-row {
    /* background: white; */
    background: var(--ps-app-opaque-background-color);
    overflow-y: hidden;
    overflow-x: hidden;
    /*     background-image: url(../../../imgs/Background-image.jpg) !important;*/
    /* --padding-end: var(--ps-section-padding);
    --padding-start: var(--ps-section-padding);
    --padding-top: var(--ps-section-padding);
    --padding-bottom: var(--ps-section-padding); */
}

.isWeb-Layout.userIsNotLoggedIn ps-template-base .main-content,
.isPad-Layout.userIsNotLoggedIn ps-template-base .main-content {
    --padding-end: var(--ps-section-padding);
    --padding-start: var(--ps-section-padding);
    --padding-top: var(--ps-section-padding);
    --padding-bottom: var(--ps-section-padding);
}


ps-template-base .main-footer {
    position: fixed;
    bottom: 0;
    background: var(--ps-footer-background-color) !important
}

.isWeb-Layout .ion-page ps-template-base .main-footer {
    position: absolute;
}

.isPad-Layout .main-content>ps-container-form>ps-base-container>ps-base>.container-fluid>.row {
    justify-content: center;
}

.isPad-Layout .main-content {
    width: 80%;
    background: var(--ps-form-container-background-color);
    margin-top: 2rem;
}

.isPad-Layout ps-template-base .template-base-row {
    justify-content: center;

}

ion-router-outlet ps-template-base .main-footer.quick-main-footer {
    padding-bottom: var(--ps-quick-menu-height) !important;

}

ps-template-base dashboard-page {
    overflow-y: scroll !important;
}