ps-template-alert-controller .ps-template-alert-controller-container {
    height: auto !important;
}

.isWeb-Layout ps-template-alert-controller .ps-template-alert-controller-row .header {
    margin: 0px !important;
    /* padding: calc(var(--ps-form-container-padding-ratio-initial) * 20px) 0px !important; */
}

ps-template-alert-controller .ps-template-alert-controller-container.center-header-img {
    background: var(--ps-alert-modal-background-color);
}

ps-template-alert-controller .ps-template-alert-controller-row {
    background: rgba(255, 255, 255, 0.1);
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 5px);
    border-radius: var(--ps-section-border-radius);
}

ps-template-alert-controller .header {
    margin-bottom: 2rem !important;
}

ps-template-alert-controller .header ion-label {
    color: var(--ps-font-light-color);
    font-size: var(--ps-lg-font);
    text-align: start;
}

ps-template-alert-controller .text-truncate {
    white-space: normal !important;
}

ps-template-alert-controller .center-header-img .ps-action-image-row {
    justify-content: center;
}

[dir="ltr"].isWeb-Layout.userIsLoggedIn ps-template-alert-controller.ion-page {
    margin-left: var(--ps-margin-left);
}

[dir="rtl"].isWeb-Layout.userIsLoggedIn ps-template-alert-controller.ion-page {
    margin-left: calc(var(--ps-margin-left) * -1) !important;
}

.isWeb-Layout.userIsLoggedIn ps-template-alert-controller .ps-template-alert-controller-container {
    width: 50%;
}

[dir="rtl"].isWeb-Layout.userIsLoggedIn ps-template-alert-controller .ps-template-alert-controller-container {
    width: calc(50% - var(--ps-margin-left));
}

.isWeb-Layout.userIsLoggedIn .alert-modal .modal-wrapper {
    width: 100%;
}
ion-modal#draft-modal ps-template-alert-controller .ps-button-cancel ion-icon{
    display: none;
}