ps-cops-template-login #ps-container-login-form {
    display: flex;
    flex-direction: column;
    height: calc(calc(80/100) * var(--ps-100vh)) !important;
    position: relative;
}

/* ps-template-login .main-content {
    height: var(--ps-100vh) !important;
} */

ps-template-login .ps-template-login-card {
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    border-radius: 0px;
    box-shadow: 0 11px 15px -7px rgba(255, 255, 255, .2), 0 24px 38px 3px rgba(255, 255, 255, .14), 0 9px 46px 8px rgba(255, 255, 255, .12) !important;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

ps-template-login .bank-logo {
    width: 80% !important;
    background-image: var(--ps-bank-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(calc(12/100) * var(--ps-100vh));
    margin: calc(calc(2/100) * var(--ps-100vh));
}

.ps-template-login-card-flex>div {
    width: 80%;
    outline: none !important;
    bottom: 4%;
}

.isPad-Layout .ps-template-login-card-flex>div {
    width: 100%;
}

.ps-template-login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.ps-template-login-card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ps-template-login .ps-template-login-banners {
    width: 100% !important;
    margin-top: 0 !important;
    display: none;
}

.isWeb-Layout ps-template-login .ps-template-login-help {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.isWeb-Layout {
    --ps-fab-button-size: 45px;
}

.isWeb-Layout ps-template-login .ps-template-login-help .ps-action-icon-icon {
    display: none;
}

.isWeb-Layout .login-and-regisration-section .additional-links {
    margin: 10px 0px !important;
}


.isWeb-Layout {
    --ps-fab-button-size: 45px;
}

.ps-template-login-submit ion-button {
    --background: var(--ps-highlight-background-color);
}

.online-registration-link .ps-action-icon-icon {
    padding-inline-end: 10px !important;
    margin-inline-end: 0px;
}

.isMobile-Layout ps-template-login .online-registration-link a {
    margin-top: 20% !important;
}

.isWeb-Layout ps-template-login ion-item .ps-keyin-input-label {
    display: none;
}


.isWeb-Layout ps-template-login .help-and-remember-me-section {
    display: flex;
}

.isWeb-Layout ps-template-login .help-and-remember-me-section .ps-template-login-rememberMe,
.isWeb-Layout ps-template-login .help-and-remember-me-section .ps-template-login-help {
    flex: 0 0 50%;
    max-width: 50%;
}

.isWeb-Layout ps-template-login .help-and-remember-me-section .ps-template-login-help {
    flex-direction: row-reverse;
}

.isWeb-Layout ps-template-login .login-and-regisration-section .ps-action-icon-icon {
    display: none;
}

.isWeb-Layout {
    --ps-fab-button-size: 45px;
}

.isWeb-Layout ps-template-login .ps-template-login-help .ps-action-icon-icon {
    display: none;
}

.isWeb-Layout {
    --ps-fab-button-size: 45px;
}

.isWeb-Layout .ps-template-login-card-flex {
    height: 65%;
}

.online-registration-link .ps-action-icon-icon {
    padding-inline-end: 10px !important;
    margin-inline-end: 0px;
}

/* mindflare structure  */
ps-template-login .additional-links #online_registration_link .ps-action-icon-label {
    border-bottom: 2px solid white !important;
}

ps-template-login .ps-template-login-longName {
    text-align: start;
}

ps-template-login .ps-template-login-username {
    order: 1;
}

ps-template-login .ps-template-login-password {
    order: 2;
}

ps-template-login .ps-template-login-rememberMe {
    order: 3;
}

ps-template-login .ps-template-login-captcha {
    order: 4;
}

ps-template-login .ps-template-login-submit {
    order: 5;
}

ps-template-login .ps-template-login-ticker {
    order: 9;
}

ps-template-login .ps-template-login-help {
    order: 6;
}

ps-template-login .additional-links {
    order: 7;
}

ps-template-login .ps-template-login-links {
    order: 8;
}

.ps-template-login-help #help_with_cred_link {
    max-width: 100%;
    flex: 0 0 50%;
}

.ps-template-login-help #reactivate_my_account_link {
    max-width: 100%;
    flex: 0 0 50%;
}

ps-template-login .additional-links #online_registration_link .ps-action-icon-icon,
ps-template-login .ps-template-login-help .ps-action-icon-icon {
    display: none;
}

ps-template-login ps-input-username .ps-keyin-input-label,
ps-template-login ps-input-password .ps-keyin-input-label {
    display: none;
}

ps-template-login .ps-button-submit ion-button {
    width: 100%;
}

.isMobile-Layout ps-template-login .ps-template-login-submit {
    margin-top: calc(calc(5/100) * var(--ps-100vh));
}

ps-template-login .ps-template-login-help ion-label {
    color: var(--ps-login-second-label-color) !important;
    font-size: var(--ps-sm-font);
}

ps-template-login .additional-links ion-label,
ps-template-login .additional-links ps-action-hyperlink .ps-action-icon-icon ion-icon {
    font-size: var(--ps-sm-font);
    color: var(--ps-login-label-color) !important;
}

ps-template-login ps-container-item .item {
    border-radius: var(--ps-fields-border-radius) !important;

}


.isPad-Layout #ps-container-login-form ion-item,
.isPad-Layout #ps-container-login-form ion-button {
    max-width: 300px;
    min-width: 200px;
}

.isPad-Layout #ps-container-login-form .ps-button-submit {
    display: flex;
    justify-content: center;
}

.isPad-Layout #ps-container-login-form .row {
    justify-content: center;
}

.isPad-Layout #ps-container-login-form .col.col-auto.ps-action-icon-label {
    flex: 0 0 30%;
    max-width: 30%;
}

.isPad-Layout #ps-container-login-form .col.col-auto.ps-action-icon-icon {
    flex: 0 0 5%;
}

.isPad-Layout .online-registration-link ion-label {
    justify-content: center;
}

ps-template-login .bank-name ion-label,
ps-template-login .ps-template-login-rememberMe ion-label {
    color: var(--ps-login-secondary-color) !important;
}


ps-template-login .bank-name {
    bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}

ps-template-login #ps-container-login-form {
    order: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(calc(80/100) * var(--ps-100vh)) !important;
}

.isWeb-Layout ps-template-login #ps-container-login-form {
    height: calc(calc(74/100) * var(--ps-100vh)) !important;
}


ps-template-login .ps-template-login-logo {
    order: 1;
}

ps-template-login .additional-links {
    order: 6;
}

.isMobile-Layout ps-template-login .bank-logo {
    margin-bottom: calc(calc(6/100) * var(--ps-100vh)) !important;
}

.ps-template-login-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ps-template-login-submit ps-button-submit,
.ps-template-login-submit .ps-biometric-submit {
    width: 100%;
    text-transform: uppercase;
}


.ps-biometric-submit ps-action-icon .ps-action-icon-label {
    display: none;
}


.ps-biometric-submit ps-action-icon .ps-action-icon-icon {
    display: block !important;
}

ps-template-login ps-container-item .ps-select-toggle-item {
    margin-inline-start: 0px;
    padding-inline-start: 0px;
    /* padding-bottom: 20px; */
}

ps-template-login ps-input-username ps-container-item .item,
ps-template-login ps-input-password ps-container-item .item {
    --border-radius: calc(var(--ps-border-radius-ratio-initial) * 10pt) !important;

}

ps-template-login ps-input-username .ps-keyin-input,
ps-template-login ps-input-password .ps-keyin-input {
    display: flex;
}


.ps-biometric-submit ion-button {
    --background: none !important;
    height: calc(calc(10/100) * var(--ps-100vh)) !important;
    --border-style: none !important;
    --background-focused: none !important;
    --background-activated: none !important;
    --background-hover: none !important;
    --box-shadow: none !important;
}

.ps-biometric-submit ps-action-icon ps-action-image {
    position: absolute;
    top: 0;
    height: 100%;
    margin: auto;
    left: 0;
    width: 100%;
}

.ps-biometric-submit ps-action-icon .ps-action-image-image,
.ps-biometric-submit ps-action-icon ion-img {
    height: 100%;
}

.isWeb-Layout ps-template-login #ps-container-login-form {
    height: calc(calc(55/100) * var(--ps-100vh)) !important;
    margin-top: calc(calc(5/100) * var(--ps-100vh));
    row-gap: calc(calc(1/100) * var(--ps-100vh));
}


omni-login ps-action-hyperlink .ps-action-image-row {
    justify-content: start;
}



.isWeb-Layout ps-template-login ion-fab-button {
    margin-inline-end: 1em;
    margin-bottom: 2em;
}

.isWeb-Layout ps-template-login ps-input-password ps-base-container.ps-container-item-wrapper {
    margin-bottom: 0px !important;
}

ps-template-login .main-footer {
    display: none !important;
}

  ps-template-login ion-fab-list {
    position: absolute;
    margin: 0px;
  }
  ps-template-login   ion-fab-list ps-button-fab{
    position: absolute;
  }
  ps-template-login ps-button-fab#products_fab_login,
  ps-template-login ps-button-fab#financing_calc_fab_login,
  ps-template-login ps-button-fab#create_account_fab_login,
  ps-template-login ps-button-fab#faq_link_fab_login{
    bottom:0px;
    margin-inline-end:0.5rem;
  }
  ps-template-login ion-fab-button{
    margin:0px !important;
}
  ps-template-login ps-button-fab#products_fab_login
  {   
      right: var(--ps-fab-login-button-size)!important;
  }
  ps-template-login ps-button-fab#financing_calc_fab_login
  {   
      right: calc( 2 * var(--ps-fab-login-button-size) + 5px)!important;
  }
  ps-template-login ps-button-fab#create_account_fab_login
  {   
      right: calc( 3 * var(--ps-fab-login-button-size) + 10px)!important;
  }
  ps-template-login ps-button-fab#faq_link_fab_login
  {   
      right: calc( 4 * var(--ps-fab-login-button-size) + 15px)!important;
  }
  ps-template-login ps-button-fab#atm_and_branch_fab_login
  {   
      bottom:  calc( 3 * var(--ps-fab-login-button-size) + 15px)!important;
  }
  ps-template-login ps-button-fab#prayer_time_fab_login
  {   
      bottom: calc(var(--ps-fab-login-button-size) + 5px)!important;
  }
  ps-template-login ps-button-fab#qibla_direction_fab_login
  {   
      bottom: calc( 2 * var(--ps-fab-login-button-size) + 10px)!important;
  }
  ps-template-login .ps-template-login-rememberMe{
   height: 10%;
}
 /*to check it later*/
.isMobile-Layout  .ps-template-login-captcha .ps-container-item-wrapper {
    width:330px;   
  }

  ps-template-login .ps-template-login-captcha {
    margin-top: 5%;
}
.protected-text-security {
    -webkit-text-security: disc;
}