ps-input-search-html ps-container-item .ps-container-item-wrapper {
    margin-bottom: 22px !important;
}

ps-input-search-html .highlight {
    background-color: var(--ps-neutral-value-font-color);
}

ps-input-search-html .search-html ps-keyin-input {
    width: 100%;
}

ps-input-search-html .search-html .ps-container-item-img-icon {
    order: 1;
}

ps-input-search-html .search-html ps-action-icon ion-icon {
    color: var(--ps-input-placeholder-font-color) !important;
    font-size: var(--ps-xl-font);
}