ps-hyperlink-anchor .ps-anchor-description {
    color: var(--ps-font-dark-color) !important;
    opacity: 1;
}

ps-hyperlink-anchor .ps-action-icon-avatar {
    min-width: 3em !important;
    min-height: 3em !important;
}

.isMobile-Layout ps-hyperlink-anchor .ps-action-icon-avatar {
    min-width: 2.5em !important;
    min-height: 2.5em !important;
}

.isMobile-Layout ps-hyperlink-anchor .ps-anchor-title {
    font-size: calc(var(--ps-sm-font) - 1px) !important;
}

.isMobile-Layout ps-hyperlink-anchor .ps-anchor-description{
   font-size: calc(var(--ps-xs-font) + 3px) !important;
}

.isMobile-Layout ps-hyperlink-anchor .ps-action-icon-avatar ion-icon {
    font-size: var(--ps-xxl-font);
}