ps-select-checkbox .ps-select-checkbox-label {
    -webkit-box-flex: 0;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

ps-select-checkbox .ps-select-checkbox {
    -webkit-box-flex: 0;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    --checkmark-color: var(--ps-font-light-color) !important;
}

.ps-select-checkbox__item .ps-item-wrapper {
    display: flex;
}

.ps-select-checkbox__item .ps-item-wrapper ion-label {
    order: 1;
    padding-inline-end: 5px !important;
}

.ps-select-checkbox {
    /* the styles of the checkbox goes here */
    --background-checked: var(--ps-checkbox-background-active);
    --border-color-checked: var(--ps-checkbox-background-active);
    --border-color: var(--ps-checkbox-border-color);
    --border-width: var(--ps-checkbox-border-width);
    --background: var(--ps-checkbox-background-default);
}

ps-select-checkbox ion-checkbox {
    margin: 0px !important;
    height: 100%;
    width: 100%;
    --background-checked: var(--ps-button-submit-background-color) !important;
    --checkmark-color: transparent !important;
    --border-radius: 50% !important;
    --border-color: var(--ps-checkbox-unchecked-color) !important;
    --border-color-checked: var(--ps-checkbox-unchecked-color) !important;
    --border-width: 2.5px !important;
    --background: var(--ps-checkbox-unchecked-color) !important;
    max-width: 2em !important;
    max-height: 2em !important;

}

ps-select-checkbox ion-item {
    --background-activated: none !important;
}

ps-select-checkbox ps-container-item ion-item.item-has-focus ion-label,
ps-select-checkbox ps-container-item ion-item.ion-touched.ion-dirty ion-label {
    color: inherit !important;
}