ps-select-toggle .ps-select-toggle {
  --background: var(--ps-toggle-unchecked-background);
  --background-checked: var(--ps-toggle-checked-background) !important;
  --handle-background: var(--ps-font-light-color);
  --handle-background-checked: var(--ps-font-light-color);
}


ps-select-toggle .ps-select-toggle-item {
  display: flex;
  align-items: center;
  width: 100%;
}

ps-select-toggle .ps-select-toggle-wrapper {
  -webkit-box-flex: 0;
  flex: 0 0 35%;
  max-width: 35%;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

ps-select-toggle ps-label {
  color: inherit !important;
}

ps-select-toggle .ps-select-toggle-item .ps-item-wrapper {
  display: flex;
}

ps-select-toggle .ps-select-toggle-label {
  flex: inherit;
}

ps-select-toggle .ps-select-toggle-item ps-label-input {
  order: 2;
}

ps-select-toggle .ps-select-toggle-item ps-label {
  display: flex;
}

ps-select-toggle .ps-select-toggle-item ps-label-input ion-label {
  white-space: normal !important;
}

ps-select-toggle ps-label-input {
  order: 1;
}

ps-select-toggle .ps-select-toggle-wrapper {
  order: 2;
}

/* 
ps-container-panel ps-select-toggle ps-label-input {
  margin-inline-start: 16% !important;
} */