ps-complex-preview .preview-wrapper {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

ps-complex-preview .preview-label ion-label {
    color: var(--ps-font-light-color) !important;
}

ps-complex-preview .preview-value ion-label {
    color: var(--ps-font-light-color) !important;
    opacity: 50% !important;
}