:root {
    --ps-chart-padding: calc(10px * var(--ps-form-container-padding-ratio-initial));
    --ps-chart-width: 350px;
}

ps-action-charts {
    max-width: 100vw;
    display: block;
    width: 100% !important;
}

ps-action-charts .ps-container-charts {
    height: calc(calc(50/100) * var(--ps-100vh)) !important;
    width: 100% !important;
}

ps-action-charts .ps-chart {
    height: auto !important;
    width: var(--ps-chart-width) !important;
    min-width: var(--ps-chart-width) !important;
    max-width: var(--ps-chart-width) !important;
    margin: 0 auto
}

ps-action-charts .chart-message {
    height: 100%;
    align-items: center;
    text-align: center;
    display: flex;
}

/* ps-action-charts .highcharts-container,
ps-action-charts .highcharts-root {
    width: 100% !important;
    height: 100% !important;
} */