ps-file-upload .chooseFile ion-button {
    font-size: small !important;
    box-shadow: 0px 2px 5px 2px var(--ps-button-cancel-background-color-hover) !important;
    border-radius: var(--ps-button-border-radius) !important;
    padding: 0 !important;
}

ps-file-upload .no-file-choosen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ps-file-upload .description-section {
    max-height: 100px;
    overflow-y: auto;
    -webkit-box-flex: 0;
    /* flex: 0 0 66.666667%;
    max-width: 66.666667%; */
}

ps-file-upload .file-upload-padding {
    -webkit-box-flex: 0;
    /* flex: 0 0 33.333333%;
    max-width: 33.333333%; */
}


ps-file-upload .no-file-choosen ion-label {
    text-align: center;
}

ps-file-upload ps-action-icon ion-icon:not(.psCustIcon) {
    /* font-size: var(--ps-xxl-font); */
    color: var(--ps-highlight-background-color) !important;
}

ps-file-upload .file-upload-padding ion-input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    left: 0;
    /* z-index: 9999; */
}


ps-file-upload .file-is-present .file-upload-padding {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

ps-file-upload .file-is-present .description-section {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

ps-file-upload .uploadHintLabel ion-label{
    color:black!important;
    margin:10px!important;
}

/*Added by Richie for AZ1DB-63*/
/* in order to merge both container items of the upload button and the list of files*/
ps-file-upload .ps-file-upload .ps-container-item-wrapper {
    margin-bottom: 0px;
}
ps-file-upload .ps-file-upload .ps-container-item-wrapper .ps-item-wrapper {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
ps-file-upload .ps-file-upload-files .ps-container-item-wrapper .ps-item-wrapper {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/* in order not to show the error and hint messages inside the container of the upload button but only inside the container of the uploaded files 
so that the error message will be shown after the files and not above */
ps-file-upload .ps-file-upload .ps-container-item-wrapper .hint-message,
ps-file-upload .ps-file-upload .ps-container-item-wrapper .validation-message {
    display: none !important;
}
/*End Richie*/
/*Added by Richie for #BUG 1570554*/
ps-file-upload .ps-file-upload-files .ps-container-item-img-icon ps-action-icon {
    display: none !important;
}
ps-file-upload .component-with-service-mapping .ps-container-item-main-content-icon {
    flex: 0 0 95% !important;
    max-width: 95% !important;
}
ps-file-upload .component-with-service-mapping .ps-container-item-service-img-icon{
    flex: 0 0 5% !important;
    max-width: 5% !important;
}
ps-file-upload .ps-file-upload-files ps-action-icon ion-icon {
    font-size: var(--ps-xxl-font);
}
ps-file-upload .component-without-service-mapping .ps-container-item-main-content-icon {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
ps-file-upload .component-without-service-mapping .ps-container-item-service-img-icon{
    flex: 0 0 0% !important;
    max-width: 0% !important;
}
/* End Richie */
ps-file-upload .ps-file-upload-files img{
    width: 50%;
}