:root {
    --ps-draft-report-border-radius: 2;
}

ps-drafts-report .warning-bookmark-message {
    color: var(--ps-font-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

ps-drafts-report.inline-draft-report {
    position: absolute;
    z-index: 9999;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 100% !important;
    left: 0;
    max-height: calc(calc(40/100) * var(--ps-100vh));
    transform-origin: top;
    transform: scaleY(0);
    border-bottom-left-radius: calc(var(--ps-section-border-radius) * var(--ps-draft-report-border-radius));
    border-bottom-right-radius: calc(var(--ps-section-border-radius) * var(--ps-draft-report-border-radius));
}

ps-drafts-report .percentage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

ps-drafts-report .ps-draft-report-status-label {
    color: var(--ps-font-light-color) !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
}

ps-drafts-report .deleteReportIcon:before {
    content: "\e944";
}

ps-drafts-report .percentage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

ps-drafts-report.isOpened {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
}

ps-drafts-report.isClosed {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}

ps-drafts-report ps-container-panel .ps-container-panel-content {
    background: var(--ps-draft-report-background-color);
}

ps-drafts-report .report {
    background: var(--ps-draft-report-background-color);
    height: 100px !important;
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 2%);
    /* border-bottom: var(--ps-font-color-opp-highlight-color) 1px solid;
    border-top: var(--ps-font-color-opp-highlight-color) 1px solid; */
}

ps-drafts-report .report-field {
    background: none;
    height: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--ps-font-color-opp-highlight-color);
    font-size: var(--ps-md-font);
}

ps-drafts-report round-progress {
    /* stroke: var(--ps-highlight-background-color); */
    stroke: linear-gradient(90deg, red, green);
    background: transparent;
    height: 100%;
    padding: 0px !important;
}

ps-drafts-report ion-spinner {
    --color: var(--ps-highlight-background-color);
}


ps-drafts-report .report-header {
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 5px) !important;
    border-bottom: 1px solid var(--ps-font-light-color) !important;
    opacity: 0.8 !important;
    color: var(--ps-font-light-color) !important;
    border-radius: 0px !important;
}

ps-drafts-report .report-container {
    padding: 0px !important;
}

ps-drafts-report .report-field .report-field-details {
    margin-left: 5px !important;
}

ps-drafts-report .draft-refresh-icon,
ps-drafts-report .draft-refresh-icon ps-action-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ps-drafts-report .report-header>.row {
    width: 100%;
    margin: 0px;
}

ps-drafts-report ps-container-panel .ps-container-panel-item ion-label {
    font-size: var(--ps-lg-font) !important;
    font-weight: bold !important;
}

ps-drafts-report ps-container-panel ps-container-item.ps-container-panel-item .item {
    --background: var(--ps-highlight-background-color) !important;
}

@-webkit-keyframes slideDown {
    from {
        /* -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible; */
        transform: scaleY(0);
    }

    to {
        /* -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible; */
        transform: scaleY(1);
    }
}

@keyframes slideDown {
    from {
        /* -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible; */
        transform: scaleY(0);
    }

    to {
        /* -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible; */
        transform: scaleY(1);
    }
}


@-webkit-keyframes slideUp {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes slideUp {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@-webkit-keyframes draftReportInAnimation {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

@keyframes draftReportInAnimation {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

.draftReportInAnimation {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: draftReportInAnimation;
    animation-name: draftReportInAnimation;
}

@-webkit-keyframes draftReportOutAnimation {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

@keyframes draftReportOutAnimation {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.draftReportOutAnimation {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: draftReportOutAnimation;
    animation-name: draftReportOutAnimation;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.isWeb-Layout .main-header ps-drafts-report {
    background: var(--ps-draft-report-background-color) !important;
}


ps-drafts-report {
    height: fit-content !important;
}

.ios ps-drafts-report {
    display: table !important;
}

ps-drafts-report .report-panel {
    padding: calc(var(--ps-form-container-padding-ratio-initial) * 5px) !important;
    display: block;
}

.pending-updates-info {
    background: var(--ps-primary-color);
    border-radius: var(--ps-fields-border-radius);
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
}

.pending-updates-info a {
    color: var(--ps-font-light-color)
}