:root {
    --ps-date-picker-background: var(--ps-popup-background-color);
    --ps-date-picker-selected-background: var(--ps-secondary-color);
}


mat-dialog-container{
    background: var(--ps-date-picker-background) !important;
}
mat-toolbar.mat-primary{
    background: var(--ps-date-picker-selected-background) !important;
    color: var(--ps-font-color-opp-secondary-color) !important;
}
mat-button-wrapper{
    color: var(--ps-field-color) !important;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: var(--ps-field-color) !important; 
} 
.mat-mini-fab.mat-primary{
     background-color: var(--ps-secondary-color);
    }
.ps-keyin-time-item .ps-time-col .ps-time-input {
    opacity: 0;
    padding-bottom: .25rem!important;
}
input.mat-input-element {
    margin-top: 0.9375em;
}

.picker-opt {
    font-size: 20px !important;
    }